[2018-04-16 15:18] Cloudore opened #1 "Will this plug in fix the issue with scenes and power command?"
Basically, in every other plug in, if the TV is already on and I set my "Movie Time Scene" (which of course turns the TV switch on), it would see that the TV was already on yet STILL send the command, turning the TV off.

Will this plug in address this issue?

Appreciate it!

[2018-04-16 17:35] tavicu commented on #1
Hi,

This plugin is under development! But yes, it will fix it :)

[2018-04-16 17:43] tavicu commented on #1
sudo npm install -g --unsafe-perm git://github.com/tavicu/homebridge-samsung-tv.git

Then in config.json, replace IP and MAC address.

    "accessories": [
        {
            "accessory": "SamsungTV",
            "name": "Living Room TV",
            "ip": "192.168.1.1", // TV IP
            "mac": "00:00:00:00:00:00" // TV MAC
        }
    ]

[2018-04-16 18:07] Cloudore commented on #1
Thats all I need, Thank you!

[2018-04-22 11:34] tavicu commented on #1
Hi @Cloudore, I have released the final version of the plugin.

To use it now you make the following steps:
1. `sudo npm uninstall -g homebridge-samsung-tv`
2. `sudo npm install -g --unsafe-perm homebridge-samsung-tizen`
3. Update your config file. You need to remove the TV from accessories and add it to platforms like this:
[code]
4. Restart Homebridge and enjoy :)

Also read the description of t

[2018-04-22 18:15] thehauntedmattress opened #3 "What is the select button?"
So I really like that I can essentially turn on my PlayStation 4 using this plugin.  The way I achieve is by having a command hit KEY_SOURCE and then KEY_LEFT six times, and then KEY_RIGHT one time (my PS4 is my HDMI 1 source, so it is second after Live TV).  However, what key is the select button (the key on the remote that is centered in between KEY_UP, KEY_DOWN, KEY_LEFT, and KEY_RIGHT?

Also I

[2018-04-22 18:36] thehauntedmattress commented on #3
Basically my turn off question is two parts.  I understand that in order to turn on the TV, the plugin sends a WOL command.  However this question is the same as issue #1.

1. With other plugins regarding tizen TVs, if I set a HomeKit scene that turns the TV off, and the TV is already off, the TV will turn ON.  How do I ensure that if my TV is already off, and I set a Homekit scene that turns the

[2018-04-23 05:14] #1 closed

[2018-04-23 07:35] tavicu commented on #3
Regarding 2, i will add an optional parameter to power on the tv if it's off before sending a command. But it will have a small delay between powering on and the command because the TV will not receive commands for about 2 seconds after it turned on.

I will do the change today and come back to you.

[2018-04-23 16:40] thehauntedmattress commented on #3
Also you should add a comma after the MAC address line on your sample config text because if someone were to copy that text directly, it would yield an invalid JSON.

"platforms": [ {
        "platform": "SamsungTizen",
        "devices": [{
            "name": "Bedroom TV",
            "ip": "10.20.30.40",
            **"mac": "A0:B1:C2:D3:E4:F5",**
            "switches": [

[2018-04-24 08:54] tavicu commented on #3
@thehauntedmattress Thank you.
1. Changed the README.
2. I have looked over the KEY_HDMI1 and indeed it will not switch to HDMI even if the TV is able to power on the console. Right now the only option i can think of is KEY_SOURCE, switch to console, KEY_ENTER. Just like you did.
3. Released a new version with the option to turn the TV first. It will have a delay of 1500 ms before sending the comm

[2018-04-24 12:34] Cloudore commented on #1
Thank you @tavicu!

Is there a way I could limit functionality to an "on-off" switch? that is all I need as to not clog up my home app

[2018-04-24 12:38] tavicu commented on #1
@Cloudore Just add the code without switches :), like the code i've posted in the previous comment.

[2018-04-24 12:39] Cloudore commented on #1
Appreciate it!

[2018-04-24 15:46] thehauntedmattress commented on #3
Thank you so much for this plugin.  It works in every way I want it to!  I literally can now turn on my PS4 (even when it is completely off), just by using either Siri or my Echo Dot.

[2018-04-24 16:54] tavicu commented on #3
Glad i could help :p! A Star to the repo will help! Let me know if you find something interesting to implement!

[2018-04-24 16:54] #3 closed

[2018-05-06 18:30] jungopro opened #4 "Approve Device with Samsung TV"
Hi
I was wondering if there's away to initially approve the "remote" on the samsung TV.
My issue is this:

Whenever I connect a new remove (such as the samsung app) to control the TV, I get a pop-up on the TV to approve the device
When I first try to control Samsung TV via homebridge-samsung-tizen plugin, I get "Can't reach TV". I can only assume it's because I didn't approve the device... I didn'

[2018-05-06 20:48] tavicu commented on #4
Hi! Try to turn the tv on from your remote. After 30 second in Home app you should see the tv as on. Try to turn it off!

It should ask for to approve the device.

If not, check in Settings - General - External Device Manager - Device List. Maybe you clicked Disallow.

[2018-05-07 20:05] jungopro commented on #4
Thank you
This is what I get in the log:

[code]

This is my config:
[code]

I couldn't find _Settings - General - External Device Manager - Device List_. Maybe my TV is not supported? (UA46F6400)

Thank you

[2018-05-08 04:10] tavicu commented on #4
Hey!

Yup, your TV is not supported by this plugin. It must be a newer model with the Tizen Operating System. Yours is an older version.

You can try this one: https://github.com/mmende/homebridge-samsungtv-control
From what i read in the description it should work with your TV.

[2018-05-08 04:41] jungopro commented on #4
Hi

Thank you, the other plugin did work for my TV. Although only to turn it off, but this is good enough to start with :-)

[2018-05-08 04:41] #4 closed

[2018-05-17 18:59] benfysh opened #5 "UE55JS8000"
Hi, I have tried this plugin with my UE55JS8000 and the power switch appears in the Home app and reflects the state of the TV however when I toggle the switch it has not effect and will the revert back to the actual state of the TV.

I saw a similar closed issue #4 however my TV does not appear to have the _Settings - General - External Device Manager - Device List_ menu path.

[2018-05-18 07:59] tavicu commented on #5
Hi, from what i've seen your TV doesn't have Tizen Operating System.

Tizen looks like this: https://www.flatpanelshd.com/pictures/samsung2017smarttv-3.jpg

The plugin can see your tv if it's on or off because it's just checking to see if the IP address responds. But can't turn off the tv because it can't receive commands.

I will look to see if there is any api available to send commands for your

[2018-05-25 09:58] tamasharasztosi opened #6 "Open specific apps"
Hey! Great work! I haven't found 'KEY_COMMAND' to open specific apps (Spotify, Plex..).
What do you think? Is it doable? Or already exist?
Thank you!

[2018-05-27 09:36] tavicu commented on #6
Hi,

Sorry but i'm not aware of any key to open apps.

The key commands are only the keys that can be found on a remote. From what i've seen none of Samsung remotes has key for apps.

[2018-05-27 09:36] #6 closed

[2018-05-27 09:37] tavicu commented on #5
Hey @benfysh, sorry for late reply.
I had some problems and didn't had time to look for apis. I will search this week and come with a response of what i've found.

[2018-05-28 08:02] benfysh commented on #5
No problem, thanks for letting me know :)

[2018-06-12 18:09] marithpl opened #7 "Play spotify"
Is it possible to make a sequence to play Spotify?

[2018-07-09 19:47] skdelphix opened #8 "Can't turn the TV off"
When the TV is off and Home shows "Off" I'm able to turn the TV on without any issue. However, trying to turn it off shows:

Jul 09 19:44:53 raspberrypi homebridge[8994]: [2018-7-9 19:44:53] [Living Room TV] Power: TV is already OFF

I've tried restarting the TV and Homebridge a few times but am not seeing any ability to turn off the TV. Sometimes tapping the button in the Home App will just keep

[2018-07-10 04:50] tavicu commented on #8
Hi,

Can you run this command and tell me what it returns? Also replace TVIP with your IP:
`ping -t 1 -c 1 -w 1 TVIP`

Then run again this command:
`ping -t 1 -c 1 TVIP`

[2018-07-10 04:50] tavicu commented on #7
Sorry for the late response. There is no key available for such ting.

What you can do is to create a list of commands with the key you press to play Spotify.

[2018-07-10 04:50] #7 closed

[2018-07-10 04:52] tavicu commented on #5
@benfysh Hei. Sorry for the late response (it's been a very busy period for me).

I have looked over other repositories that are using Samsung api and all of them is using the same as me.

And unfortunately Samsung is not offering any information regarding the api :(

[2018-07-10 04:52] #5 closed

[2018-07-10 06:30] benfysh commented on #5
No problem, thanks for looking its strange as the TV claims to be powered by Tizen. Who knew TV fragmentation was a thing!

[2018-07-10 12:39] skdelphix commented on #8
Well, that was easy. Looks like the IP had changed.

[code]

I assumed because it was turning on and not returning error messages that the IP was the same. After fixing the IP in config.json everything is fine. Thanks!

[2018-07-10 12:39] #8 closed

[2018-07-23 12:04] k00d1 opened #9 "Homebridge crashes"
I'm having trouble with this plugin. It crashes my homebridge as soon as I start it up.

This is what I'm getting:
[code]

I validated my config with json formatter and honestly don't know what else to try. I've got my homebridge running on latest pi with latest raspbian OS.

[2018-07-23 15:49] tavicu commented on #9
Hi,

What node and npm versions do you have? Try to update them.

[2018-07-23 18:10] k00d1 commented on #9
Updated:

node v8.2.1 -> 10.6.0
npm 6.1.0 -> 6.2.0

now getting this:
[code]
I tried to install homebridge again and it's giving same error. Any ideas?

[2018-07-23 18:18] tavicu commented on #9
What does `which npm` prints?

[2018-07-23 18:18] k00d1 commented on #9
/usr/local/bin/npm

[2018-07-24 06:43] tavicu commented on #9
Try to remove the homebridge folder from /usr/local/lib/node_modules then install homebridge again.
`rm -rf /usr/local/lib/node_modules/homebridge`
`npm install -g --unsafe-perm homebridge`

I had the same problem when i updated nodejs but i don't remember how i fix it.

[2018-08-01 04:50] bljarisch opened #10 "Status not updating"
I wanted to add my Samsung TV to an automation in HomeKit, so my lights dim when the TV is turned on, however, when the TV is switched on by remote it does not update to "ON" in HomeKit, therefore the automation does not work.  Is it possible to have its status updated immediately?  Thank you for your work on this!

[2018-08-01 06:51] tavicu commented on #10
Hi,

Unfortunately this is not possible because of the Samsung API which is very very dumb. It allows us only to send commands to the TV and nothing more.

Right now to check if the TV is ON i am using a method to check if the IP address is active. And this method is called only when the HomeKit decide it needs to update the status.

The only method to do it is by setting an interval and check eve

[2018-08-01 13:38] bljarisch commented on #10
Eh, if it is not a clean method and you think it may cause more issues then it may not be worth it.  I can do what I am trying to do by adding each of my harmony activities to an automation with the lights, but I was wanting to just do it with one automation, since switching between activities seems to be causing issues.  I will keep coming back here for any updates you might add.  Thank you for t

[2018-08-19 15:55] #10 closed

[2018-08-27 18:39] melyurt opened #11 "Compile Error in SamsungDevice.js"
When I start homebridge I got the error below.

[2018-8-27 21:39:29] Loaded plugin: homebridge-samsung-tizen
/usr/local/lib/node_modules/homebridge-samsung-tizen/lib/SamsungDevice.js:52
                this.accessories.push(new SamsungAccessory({...this, config: {...this.config, ...element}}, 'switch'));
                                                            ^^^

SyntaxError: Unexpected token

[2018-08-27 19:15] tavicu commented on #11
Hi,

You need to update your nodejs

[2018-08-27 19:16] melyurt commented on #11
Got it!!! Thanks for your help :)

[2018-08-28 06:36] tavicu commented on #11
Let me know if it works after you update it :)

[2018-08-28 18:45] goathers opened #12 "UE48JU6400 not works"
Hi,

I'm trying to add this TV to Homebridge and I not be able to do it.

I read others issues and make some of the test you explain.

The config is (Mac is hide):

{
	  "platform": "SamsungTizen",
	  "devices": [
	  {
		"name": "Tele",
		"ip": "192.168.0.21",
		"mac": "xx:xx:xx:xx:xx:xx"
	  }]
	}

I run a ping to the TV ip and return this:

PING 192.168.0.21 (192.168.0.21): 56 data bytes
64 bytes

[2018-08-30 00:30] #11 closed

[2018-08-30 00:55] tavicu commented on #12
Hi,

Awesome to see that you made your homework :P

Try to access the following url when the TV is on: http://TV_IP:8001/api/v2/
It should return all TV information (https://developer.samsung.com/tv/develop/extension-libraries/smart-view-sdk/receiver-apps/debugging)

Let me know if that link works.

Also first time when you connect to the TV it will ask you to allow the connection.

"check in Sett

[2018-08-30 01:02] tavicu commented on #12
But looking at your TV model it is possible to not be compatible. i think it use an older version of Tizen which does not offer access to an API.

It should look like this: http://linuxgizmos.com/files/samsung_smarttv_hub2.jpg

[2018-08-30 14:29] goathers commented on #12
This is the return of accessing the URL http://192.168.0.21:8001/api/v2/

uuids are hidden

{
"id": "uuid:xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
"name": "[TV] UE48JU6400",
"version": "2.0.25",
"device": {
"type": "Samsung SmartTV",
"duid": "uuid:xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
"model": "15_HAWKM_UHD_2D",
"modelName": "UE48JU6400",
"description": "Samsung DTV RCR",
"networkType": "wired",
"ssi

[2018-09-02 12:37] tavicu commented on #12
Hei!

It should works with your version of Tizen.

What does not work? Powering ON or OFF? Both?

[2018-09-02 12:58] tavicu commented on #12
Can you try this and see if it works?

https://github.com/tdudek/samsung-remote-models-2014-and-newer

[2018-09-03 12:38] goathers commented on #12
Hi,

The TV not work on power ON, OFF or any other command. I try put the TV on developer mode following the instructions on this page you told me (https://developer.samsung.com/tv/develop/extension-libraries/smart-view-sdk/receiver-apps/debugging) but the page received in the computer is Not Found.

On the other side, I run the demo on your last comment and it works. The TV show a popup with a pi

[2018-09-03 19:33] kkapitan commented on #12
Hi,

I've also encountered similar issues with my H series Samsung TV. After some research I ended up with exactly the same demo @tavicu posted above. Since this one was working fine for me, I started developing my own homebridge plugin, which currently is in a very raw form but seems to be working. If there is no way to use this plugin with the H/J models, I'll post my work so people like me or @

[2018-09-04 00:07] tavicu commented on #12
Hey guys!

First of all thanks for checking that plugin!

This weekend i will try and see if the PIN method works on newer models too!

After that i will implement in the plugin this method so you can use it too!

I will keep you posted!
I will try to do it faster but unfortunately I don’t think i will be able to check it early than this weekend :(

[2018-09-04 05:02] tavicu commented on #12
Hei @dwienand, as i asked in a previous post, try this plugin demo and tell me if it’s working to send commands.

https://github.com/tdudek/samsung-remote-models-2014-and-newer

P.s! It’s not a homebridge plugin. You need to clone the repo and follow the instructions from the readme to run the example!

[2018-09-04 09:40] goathers commented on #12
Hi,

The return of accessing the URL http://192.168.0.21:8001/ms/1.0/

The uuids have been hidden

{
	"DUID": "uuid:xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
	"Model": "15_HAWKM_UHD_2D",
	"ModelName": "UE48JU6400",
	"ModelDescription": "Samsung DTV RCR",
	"NetworkType": "wired",
	"SSID": "",
	"IP": "192.168.0.21",
	"FirmwareVersion": "Unknown",
	"DeviceName": "[TV] UE48JU6400",
	"DeviceID": "uuid:xxx

[2018-09-04 19:14] tavicu commented on #12
@kkapitan can you also tell me what http://${this.config.ip}:8001/ms/1.0/ returns?
Since i don't have an older version to work with i'm trying to understand the pattern :d

[2018-09-04 21:49] boro55 commented on #12
Hi there,

I have the same issue as guys above but with UE48JU7000. I installed the plugin but none of the commands work.

[2018-09-05 04:14] dwienand commented on #12
Getting
Server running at: http://localhost:3000
Initializing device configuration
Fetching device info
Debug: internal, implementation, error
    TypeError: Cannot read property 'requestPin' of null
    at SamsungTv.requestPin

which I think means that it can't connect to the TV in the first place =/

[2018-09-06 17:38] tavicu commented on #12
@dwienand Your TV is not running Tizen OS for Smart TV. None of the plugins are compatible with your TV because it doesn't have an API to access.

@goathers, @kkapitan, @boro55 I will develop a small plugin to work with PIN access and I will need some help from one of you to test it :) If it will work then i will implement it in the main plugin.

Sounds cool? :)

[2018-09-06 18:56] goathers commented on #12
Yeah!!

I run the tests that are needed.

[2018-09-07 11:02] boro55 commented on #12
Thanks @tavicu :) Just ping me if you need one more tester.

[2018-09-07 18:07] tavicu commented on #12
@goathers, @boro55

Steps:
1. Create a folder to run the test `mkdir /var/lib/test-repo`
2. Go to folder `cd /var/lib/test-repo`
3. Clone repo `git clone git@github.com:tavicu/test-samsung-tv-pin.git`
4. Enter folder `cd test-samsung-tv-pin`
5. Edit `config.json` and enter your tv ip `vim/node config.json`
6. Install npm packages `npm install`
7. Run the script `node index.js`
8. TV should show yo

[2018-09-07 19:40] kkapitan commented on #12
Hi guys, sorry for the late response.

I decided to challenge myself and finish the plugin - you can get it [here](https://github.com/kkapitan/homebridge-homesung).

I'm not dealing with js on a daily basis, in fact this is my first published npm package, so please bare with me ;)

@tavicu feel free to check the specifics of implementation as I had the opportunity to test it using my personal devi

[2018-09-08 09:38] boro55 commented on #12
@tavicu I run your script, TV showed the PIN but after I write it in `config.json` and try to run the script again I get this error (the uuids have been hidden):

`Initializing device configuration
Fetching device info
Received device info
Device info:  { id: ‚uuid:xxxxx-xxxxx-xxxxx-xxxxx-xxxxx’,
  name: ‚[TV] UE48JU7000’ }
Initialization successful { id: ‚xxxxx-xxxxx-xxxxx-xxxxx-xxxxx’,
  name: ‚

[2018-09-10 17:33] goathers commented on #12
Hi,

Sorry for the delay. I was out on weekend.

In my case the test works. The plugin sends 3 VOLUP, but the TV only UP 2. Like @kkapitan I think the cause is because no delay between commands.

[2018-09-10 22:03] kkapitan commented on #12
@goathers @boro55 would you be so kind to try my plugin [here](https://github.com/kkapitan/homebridge-homesung)? I'm wondering if it works on J series models as I do not have one to test it myself. In best case you should be able to connect to the TV and send basic key commands.

[2018-09-11 09:32] boro55 commented on #12
@kkapitan I successfully installed your plugin and got to the point where PIN is displayed on my TV but I'm getting an error after entering the PIN, therefore I can't get the `sessionId` and the `aesKey`

homesung-pair 192.168.100.2
Enter the pin displayed on the TV screen: 3235
Confirming pin with config: {"ip":"192.168.100.2","appId":"721b6fce-4ee6-48ba-8045-955a539edadb","userId":"654321","devi

[2018-09-12 07:18] boro55 commented on #12
@kkapitan Here's the log:

NODE_DEBUG=request homesung-pair 192.168.100.2
REQUEST { url: '/ms/1.0/',
  timeout: 5000,
  baseUrl: 'http://192.168.100.2:8001',
  callback: [Function] }
REQUEST make request http://192.168.100.2:8001/ms/1.0/
REQUEST onRequestResponse http://192.168.100.2:8001/ms/1.0/ 200 { 'x-powered-by': 'Express',
  'access-control-allow-origin': '*',
  'access-control-allow-credent

[2018-09-12 07:31] tavicu commented on #12
Hi guys! Looks like this Issue become support for another plugin :)

Without disrespect i will ask you to continue the conversation on @kkapitan repo.

As soon as i will have the time i will implement in the plugin the method to access the TV with a PIN.
When i will have a beta version i will open a new Issue and if you will still be interested i will ask you to help me test it since i can't.

[2018-09-12 07:31] #12 closed

[2018-09-12 17:33] kkapitan commented on #12
You are right, sorry! I've made an issue to track this, my apologies!

[2018-09-18 11:06] Erdk2 opened #13 "Not working properly new firmware"
Not working with new firmware qled 2018 ver 1134

[2018-09-19 11:10] Erdk2 commented on #13
Only works power on, not power off

[2018-09-21 09:30] tavicu commented on #13
Hi @Erdk2, The power on works because it's using a standard function.

Your TV probably have a new version of OS for Smart TV with a new API.

Since i don't have a TV like that, i can't help you with the problem.

Unless you want to donate one :P

[2018-09-21 09:35] Erdk2 commented on #13
I have 1134.0 last firmware (2-8-2018), with previous version all works fine

[2018-10-04 00:55] eduardoboucas commented on #13
I was able to plant some logs and see what is being returned in a few places of the application when the power off command is executed.

1) https://github.com/tavicu/homebridge-samsung-tizen/blob/b00637cbaa41c723e3cfb51cdf502ba770b9e926/lib/SamsungRemote.js#L291

[code]

2) https://github.com/tavicu/homebridge-samsung-tizen/blob/b00637cbaa41c723e3cfb51cdf502ba770b9e926/lib/SamsungRemote.js#L281

[

[2018-10-04 04:45] tavicu commented on #13
Hi @eduardoboucas

It looks like you didn’t authorize the api on the first connection.

You can check in Settings - General - External Device Manager - Device List. Maybe you clicked Disallow.

Let me know!

[2018-10-04 10:13] eduardoboucas commented on #13
Hi @tavicu, thanks for the quick reply!

I don't have any devices on the *Device List* window, it just says "No equipment stored". In fact, I've never seen any authorisation prompt, except when I tried pairing with [an older plugin](https://www.npmjs.com/package/homebridge-homesung).

If this is an authorisation issue, is it normal that the power ON command works fine? And is there any other way I

[2018-10-04 10:35] tavicu commented on #13
Hi @eduardoboucas
It is normal to work the power ON. I am using Wake on Lan for power on and the tv api for the rest of commands.

Can you try to access this url and see if it works? http://TV_IP:8001/api/v2/

[2018-10-04 10:42] eduardoboucas commented on #13
It does work, here's what I see:

[code]

[2018-10-04 10:56] tavicu commented on #13
I think some of the TV's are using another auth method.

Can you please try the demo from this repo?
https://github.com/tdudek/samsung-remote-models-2014-and-newer

[2018-10-04 10:59] Erdk2 commented on #13
My log:

{"device":{"FrameTVSupport":"false","GamePadSupport":"true","ImeSyncedSupport":"true","OS":"Tizen","TokenAuthSupport":"true","VoiceSupport":"true","countryCode":"ES","description":"Samsung DTV RCR","developerIP":"0.0.0.0","developerMode":"0","duid":"uuid:e1d23731-1aac-4e58-9285-9f402e0960fc","firmwareVersion":"Unknown","id":"uuid:e1d23731-1aac-4e58-9285-9f402e0960fc","ip":"192.168.1.17","

[2018-10-04 11:47] eduardoboucas commented on #13
I ran demo example, inserted the IP and clicked to connect. I saw an authorisation prompt on my TV asking if I wanted to allow the device to connect. I clicked _Allow_ and then clicked _Confirm_ on the web app, but the web app then asks me for a pairing code that the TV was supposed to show. Trouble is, there was no pairing code. Nothing really happened on the TV after I clicked _Allow_.

This ret

[2018-10-04 11:50] tavicu commented on #13
That's cool! It means that your TV supports my plugin.

The problem is why when you try to send a command for the first time (power off) it's not asking for authorisation like it did now ...

[2018-10-04 11:58] eduardoboucas commented on #13
Can you point me to any relevant documentation so that I can try to poke around? I've been looking at various pages in the Samsung Developer portal (e.g. https://developer.samsung.com/tv/develop/getting-started/creating-tv-applications), but there's too much content and I can't find the relevant API references for what we're trying to do.

We're not exactly building a TV application, we're trying

[2018-10-04 12:02] tavicu commented on #13
Unfortunately there is no documentation for this API.

Let me know what name did you put in config file and i will try to make a command for you to run and see the result :)

[2018-10-04 12:08] eduardoboucas commented on #13
I just noticed that when I hit http://192.168.1.78:8001/ms/1.0, I do see an authorisation prompt in the TV. However, nothing happens after I select _Allow_, and subsequently hitting the same endpoint simply results in the response I shared above.

As for my config, here's what it looks like:

[code]

Let me know if you need any other info.

Thanks again for your help. Much appreciated!

[2018-10-04 13:36] eduardoboucas commented on #13
I have removed the bridge from my HomeKit app and added it back again. Now the error seems to be slightly different. I see this when trying to send the power off command:

[code]

And this is shown in the console, as a result of the logs I planted:

[code]

Also, I can see from the logs that the plugin is trying to access this URL at some point: http://192.168.1.78:8001/api/v2/channels/samsung.rem

[2018-10-04 20:43] flobernd commented on #13
I tried it on my Q7FN TV and got the following result:
[code]

The name of my device in the homebridge config is "Samsung Q7FN" aka "U2Ftc3VuZyBRN0ZO" in base64.

[2018-10-05 13:59] aleibz98 commented on #13
What should I do if that didn't work??

[2018-10-05 14:08] aleibz98 commented on #13
And this is what I get when I run the command...
HTTP/1.1 404 Not Found
X-Powered-By: Express
Access-Control-Allow-Origin: *
Access-Control-Allow-Credentials: true
Access-Control-Allow-Methods: GET,PUT,POST,DELETE
Access-Control-Allow-Headers: Origin, X-Requested-With, Content-Type, Accept, SilentLaunch
Content-Type: application/json; charset=utf-8
Content-Length: 60
Date: Fri, 05 Oct 2018 14:07:3

[2018-10-05 14:14] aleibz98 commented on #13
when I run http://192.168.1.54:8001/api/v2/ i get:

{
  "id": "uuid:ee0ae248-280e-4e5a-98cc-84deab71a5b5",
  "name": "[TV] UE50J6200",
  "version": "2.0.25",
  "device": {
    "type": "Samsung SmartTV",
    "duid": "uuid:ee0ae248-280e-4e5a-98cc-84deab71a5b5",
    "model": "15_HAWKM_2D",
    "modelName": "UE50J6200",
    "description": "Samsung DTV RCR",
    "networkType": "wired",
    "ssid": "",

[2018-10-05 15:41] flobernd commented on #13
You have to change the base64 encoded name part of the URL. It will always return 404, if the name was not found.

For me it returns `403 Forbidden` which indicates that I somehow does not have access to the function.

[2018-10-05 23:09] eduardoboucas commented on #13
@tavicu I get the same as @flobernd:

[code]

[2018-10-05 23:19] eduardoboucas commented on #13
Btw, this seems to be an issue with all Series 7 models: https://github.com/Ape/samsungctl/issues/89.

[2018-10-11 12:57] flobernd commented on #13
A new firmware (1153.3) is available for manual download, but same problem with this one.

[2018-10-12 15:30] cyphers commented on #13
2018 models added TokenAuthSupport in August after fooling everyone into thinking normal IP control worked. Samsung designated 6 chosen vendors last November that they have given the information for the protocol. So you would need to reverse engineer one of those 6 to auth for that protocol now. Most likely it's some kind of OAuth and a token parameter now needs to be passed to these APIs.

[2018-10-12 16:44] flobernd commented on #13
Which vendors and which apps are on the list?

[2018-10-12 17:12] cyphers commented on #13
The Nov 30 2017 announcement identified URC, AMX, Savant, RTI, Crestron, and C4. I don't know if all of those actually completed it, but presumably most did and presumably that's why Samsung felt it was okay to suddenly block the rest of the world last August.

[2018-10-15 17:35] JonoHaysom commented on #13
yup. UK firmware TV here and the new firmware killed this except for power on :(

im happy to help troubleshoot too

[2018-10-19 12:34] knudsvik commented on #13
Also had issue with power modes. Installed this plugin instead, which works fine: https://www.npmjs.com/package/homebridge-samsung-remote

[2018-10-19 13:35] JonoHaysom commented on #13
I used to use that one, it didn't work either for the "power off" command.

what firmware and TV model are you using?

[2018-10-22 21:49] finch6 opened #14 "Samsung Frame TV - Power Off"
Hi,

I have the Samsung Frame TV. This plug-in works perfectly for what I want it fo (turning on and off).

However, the Frame TV doubles as a picture frame. So if you press the power button when the TV is on, the TV will go into "frame mode". To turn the TV off, you have to hold the power button for 2 seconds.

I have looked through the code (I'm VERY new to this) and couldn't find anything about

[2018-10-23 08:55] tavicu commented on #13
Hey! Sorry for not being active. Until December i have a lot of work and i will not be able to help any of you.

[2018-10-23 08:57] tavicu commented on #14
Hey.

The api only know to send an receive a command. It doesn't have an option to simulate "hold" unfortunately.

I don't think you will be able to do this with any plugin.

[2018-10-27 16:09] logictester commented on #13
Anyone knows of any Samsung remote plugin that will work after this TV update? There's no way to revert the TV firmware update

[2018-10-27 17:06] jpmassena commented on #13
@logictester, try Smartthings app. I can control my NU8005 with that app...

[2018-10-27 20:09] logictester commented on #13
@jpmassena, can it be integrated into Home app to build scenarios? That’s what I use hombridge for, scenes that control lights and tv

[2018-10-28 04:18] logictester commented on #13
is this something that might work: https://www.npmjs.com/package/samsung-remote

[2018-10-28 22:05] jaumebosch opened #15 "Unable to start homebridge with samsung-tizen plugin"
Hi,
I've just installed homebridge and homebridge-samsung-tizen, and now I get this when starting
`root@raspberrypi:/home/pi# homebridge
[2018-10-28 21:58:19] Loaded config.json with 0 accessories and 1 platforms.
[2018-10-28 21:58:19] ---
[2018-10-28 21:58:19] Loaded plugin: homebridge-samsung-tizen
/usr/local/lib/node_modules/homebridge-samsung-tizen/lib/SamsungDevice.js:52
                this.

[2018-10-29 05:33] tavicu commented on #15
Hi,

You need to update your node to a newer version

[2018-10-30 22:49] jaumebosch commented on #15
Done! works!

Thanks!

[2018-10-30 22:49] #15 closed

[2018-11-09 19:07] #14 closed

[2018-11-11 21:43] tavicu commented on #13
Hey guys! After my tv automatically updated to the latest firmware i have experienced the same problems.

It looks like Samsung made some changes to the API.
I tried for a few hours to find a solution but for now i don't have any good news :(

I will try next week to intercept how mobile app works and connect to TV and see if i can find a solution.

I will keep you posted!

[2018-11-11 22:08] tavicu commented on #13
Good news :D
Found a solution! I will push an update in the weekend

[2018-11-12 03:30] JonoHaysom commented on #13
That’s great news! Thanks for the effort to help us all out :)

[2018-11-13 17:53] tavicu commented on #13
Hey guys :)
Had some time and made the updates!

I didn't have time to edit the readme too but i will write here the steps and will update de readme asap.

1. Update the plugin
2. Turn ON the TV
3. Start/Restart Homebridge server
4. The TV will show you a popup and ask to allow access, click Allow (doooh!!!)
5. In the Homebridge console you will get a message with a token
6. Update config file wit

[2018-11-13 18:32] JonoHaysom commented on #13
Ok, installed, updated, got the token.. it will power on but I can't get it to power off still :(

is the plugin also stateful?

[2018-11-13 18:42] logictester commented on #13
it works! you are the man!!!!

[2018-11-13 18:43] tavicu commented on #13
@JonoHaysom hmm, that's strange! It works on my end.
The plugin it's not stateful :)

Do you have any error when you start the homebridge server? Or when you send the command to turn off? What does the console say?

[2018-11-13 18:51] logictester commented on #13
strangely, even though I have token in the config - after restart of home bridge the TV still asked me to allow and only then executed my accessory

[2018-11-13 18:52] JonoHaysom commented on #13
here is the bootup console and me toggling TV commands.

![screenie](https://user-images.githubusercontent.com/8393299/48435832-c7eb5700-e796-11e8-9879-8de460a67403.jpg)

[2018-11-13 19:02] JonoHaysom commented on #13
@tavicu I wiped the token on the config JSON without rebooting the TV and I noticed the next power toggle to generate the token it was different.. I wonder if this is the issue, My TV is the 2017 Q8C

[2018-11-13 19:07] tavicu commented on #13
The token is generated only when the Homebridge server starts and it's not set! I will make some debug lines now and push a new version. Give me a few minutes :D

[2018-11-13 19:17] tavicu commented on #13
Ok. Pushed a new version with some debug commands.
Please start homebridge like this `DEBUG=* homebridge -D` and tell me what you can see in the logs related to the plugin :)

[2018-11-13 19:22] logictester commented on #13
getting this now:
[TV] [DEBUG] Connect to wss://10.0.0.13:8002/api/v2/channels/samsung.remote.control?name=VFY=&token=MYTOKEN
[11/13/2018, 7:21:21 PM] [TV] [DEBUG] { data:
   { clients: [ [Object] ],
     id: '4b41f695-f579-4f95-ba1d-6daafd9c0b' },
  event: 'ms.channel.connect' }
[11/13/2018, 7:21:21 PM] [TV] [DEBUG] Send command KEY_VOLUP
TypeError: Cannot read property 'device' of undefined

[2018-11-13 19:24] JonoHaysom commented on #13
@tavicu

On:
HAPServer [CC:22:3D:E3:CB:32] HAP Request: PUT /characteristics +0ms
  Accessory [Homebridge] Processing characteristic set: [{"aid":8,"iid":10,"value":1}] +0ms
  Accessory [Homebridge] Setting Characteristic "On" to value 1 +0ms
[13/11/2018, 23:22:34] [TV] Power: TV powered ON
  EventedHTTPServer [::ffff:192.168.1.132] Muting event '8.10' notification for this connection since it ori

[2018-11-13 19:28] eduardoboucas commented on #13
It works for me! Thank you, @tavicu. 👑Much appreciated!

[2018-11-13 19:32] logictester commented on #13
@tavicu this debug version is killing my homnebridge 😞 where the previous worked perfect  can we go back please? 😀

[2018-11-13 19:34] tavicu commented on #13
@logictester yes, my bad! Will push an update in a few minutes :D

[2018-11-13 19:37] JonoHaysom commented on #13
@tavicu this looks like something interesting https://www.npmjs.com/package/homebridge-samsung-smart-tv18 also has a token implementation (not the same s yours) and appears stateful?

[2018-11-13 19:42] tavicu commented on #13
New update.

@JonoHaysom not setting a token every time you will start a connection with the TV will ask you to allow the access.

I can't understand why you get the "already on" error. I've added a new debug for that part. It doesn't have anything to do with the Samsung API. It's something related to the "ping" command that check if ip is responding.

Please update the plugin and run it again wit

[2018-11-13 19:53] JonoHaysom commented on #13
**Pairing:**
 EventedHTTPServer [::ffff:192.168.1.128] HTTP Response is finished +0ms
[13/11/2018, 23:49:46] [TV] [DEBUG] Pair to wss://192.168.1.190:8002/api/v2/channels/samsung.remote.control?name=VFY=
[13/11/2018, 23:49:49] [TV] [DEBUG] { clients:
   [ { attributes: { name: 'VFY=' },
       connectTime: 1542138579672,
       deviceName: 'VFY=',
       id: '81e294b7-282a-46ee-af41-1683e611d7e1',

[2018-11-13 19:55] JonoHaysom commented on #13
**turning off the TV (already on)**

[13/11/2018, 23:54:49] [TV] [DEBUG] false
[13/11/2018, 23:54:49] [TV] Power: TV is already OFF
  EventedHTTPServer [::ffff:192.168.1.132] Muting event '8.10' notification for this connection since it originated here. +6ms
  EventedHTTPServer [::ffff:192.168.1.110] Sending HTTP event '8.10' with data: {"characteristics":[{"aid":8,"iid":10,"value":false}]} +0ms

[2018-11-13 19:59] tavicu commented on #13
From your logs it looks like you didn't add the token to config file.
So:
1. Turn the TV on then start the homebridge
2. Click Allow
3. Add token to the homebridge config.json
4. Restart the homebridge server
5. Try to turn off the tv from homekit

Once you added the token to config.json file it should never try to pair again!
So after adding the token you should never see this line in the logs
`[

[2018-11-13 20:03] logictester commented on #13
there seem to be some kind of a timeout on the token - as after a few minutes it asks to allow on the tv again

[2018-11-13 20:09] JonoHaysom commented on #13
I erased the token and set it up so you could see the full logs from onboarding it fresh.

Even with the token in there it doesn’t turn off :(

[2018-11-13 20:12] tavicu commented on #13
@logictester that's not possible! The request is sent only one time when the homebridge server starts and ONLY if the token is not set in the config.json file.

Are you sure your homebridge server is not restarting or something?

Right now if the token is not set it will also ask you to allow when you try to send a command (like turn off). I will make some changes tomorrow to not be able to send a

[2018-11-13 20:14] logictester commented on #13
@tavicu i was messing around with different scenes, maybe that's what was causing it. it seems to work fine including commands... unrelated question - do you think there is a way to call for a specific application on the TV like Netflix?
And thank you for your great work btw!

[2018-11-13 20:17] tavicu commented on #13
@logictester that's cool :)
Yes, i found an API a few days ago when i tried to solve the firmware problem.

But i need to implement it! I will try to do it tomorrow. Can you please open another "issue" where we can speak about and test this feature? :)

[2018-11-13 20:22] JonoHaysom commented on #13
@tavicu I’ll try again tomorrow with a new pairing and a new name for the TV. it’s 12:22am here and I need some sleep. I’m sure we will work it out!

Thanks again for the great work

[2018-11-13 20:33] logictester opened #18 "Select specific applications like Netflix"
@tavicu opening this to work on implementing a way to select a specific application like Netflix through API commands
Thanks

[2018-11-13 20:35] Pensive commented on #13
@tavicu you sir are a true gentleman. My Hue switch now turns the TV on and off again :) firmware 1250 on a 2017 UE65MU8000

I wish to buy you a pint. off to look for your paypal

Thank you!!

[2018-11-13 21:14] TheoNicolae commented on #13
@tavicu works like a charm! Thank you!

[2018-11-13 21:15] eduardoboucas commented on #18
I'm also interested in this! Let me know if/how I can help.

[2018-11-14 11:11] tavicu commented on #13
@Pensive Glad i could help! A star on the repo will do it :P

@marithpl `npm update -g --unsafe-perm homebridge-samsung-tizen`

[2018-11-14 13:15] marithpl commented on #13
@tavicu How to check token? I don't have any info in homebridge logs.
Is there any other way?
Now I leave token "" empty and TV is asking for permission all time.

[2018-11-14 13:17] tavicu commented on #13
@marithpl it must be there. Once you press Allow on the tv the token should appear. Keep in mind that you have a small window to click Allow, so once the popup appear, click Allow right away.

You should get a message with the token or an error that the pair failed.

Don't add the token in config file first time you run the server.

[2018-11-14 13:20] marithpl commented on #13
Ok you was right 👍
Beer for you!

[2018-11-14 14:39] marithpl opened #19 "Charge status in homebridge via remote"
Hi!

Is there any way to charge status of tv When I turn it on via TV Remote?

I wish to make automation When i turn on TV to also turn on led strip.

Now when I turn it on I need to manually refresh HomeKit

[2018-11-14 15:30] logictester commented on #13
@tavicu something is weird going on with the token, i have it in config and yet it still asks me to allow:
![img_8794](https://user-images.githubusercontent.com/72776/48492657-43c9bb80-e7f8-11e8-96db-354d3eab1660.jpg)
[TV] [DEBUG] Connect to wss://10.0.0.13:8002/api/v2/channels/samsung.remote.control?name=VFY=&token=10985883
[11/14/2018, 3:25:54 PM] [TV] [DEBUG] { data:
   { clients: [ [Object] ],

[2018-11-14 15:35] JonoHaysom commented on #13
Still odd here. ill capture more debugs logs if you'd like.

[2018-11-14 15:37] logictester commented on #13
@JonoHaysom do you have any other plugins configured and running?

[2018-11-14 15:39] JonoHaysom commented on #13
yup, these are running as well @logictester :
homebridge-xiaomi-roborock-vacuum v0.3.2
homebridge-lifx-lan v0.2.6
homebridge-config-ui-x v3.9.0

[2018-11-14 15:40] logictester commented on #13
what's the version of your homebridge?

[2018-11-14 15:42] JonoHaysom commented on #13
@tavicu new logs after restarting routers etc and running the "token" first run..

 EventedHTTPServer [::ffff:192.168.1.128] HTTP Response is finished +0ms
[14/11/2018, 19:40:09] [TV] [DEBUG] Pair to wss://192.168.1.190:8002/api/v2/channels/samsung.remote.control?name=VFY=
[14/11/2018, 19:40:18] [TV] [DEBUG] undefined

/usr/local/lib/node_modules/homebridge-samsung-tizen/lib/SamsungRemote.js:396

[2018-11-14 15:44] JonoHaysom commented on #13
@logictester its up-to-date Version 0.4.45

[2018-11-14 15:49] tavicu commented on #13
Dis this plugin ever worked with you TV? It looks from the logs that the API does not return any information!

[2018-11-14 15:53] JonoHaysom commented on #13
lol @tavicu yup it used to.

new log:
EventedHTTPServer [::ffff:192.168.1.128] HTTP Response is finished +0ms
[14/11/2018, 19:53:02] [TV] [DEBUG] Pair to wss://192.168.1.190:8002/api/v2/channels/samsung.remote.control?name=VFY=
[14/11/2018, 19:53:05] [TV] [DEBUG] { clients:
   [ { attributes: { name: 'VFY=' },
       connectTime: 1542210781736,
       deviceName: 'VFY=',
       id: 'd8f93a57-2720-

[2018-11-14 16:03] logictester commented on #13
did you add the token to the platforms config now?

[2018-11-14 16:12] JonoHaysom commented on #13
yup, doesn't work, its super weird!

https://github.com/petealves/homebridge-samsung-smart-tv18 <-- works however he has no way to save the token in his implementation so it asks each time on screen if it can control... but the commands are working for WOL and to turn off but I get the authorisation prom. his web sockets are working and are very fast.

Log for that plugin:
 EventedHTTPServer [::ff

[2018-11-14 16:22] logictester commented on #13
i'd suggest uninstalling the plugin and clearing out the config and starting over...

[2018-11-15 01:05] thehauntedmattress commented on #13
Thank you so much for this update!  I was so worried after seeing earlier comments that all hope was lost.  But we all appreciate your development of this!  I love controlling my TV using HomeKit, Siri, and Alexa.

[2018-11-15 17:53] logictester commented on #13
@tavicu still asks to allow in the morning.... wss://10.0.0.13:8002/api/v2/channels/samsung.remote.control?name=VFY=&token=10985883
[DEBUG] { data:
   { clients: [ [Object] ],
     id: 'e0848729-7dd-42a-83ed-aef32ce9a6c' },
  event: 'ms.channel.connect' }

[2018-11-15 20:14] TheMisfit68 commented on #13
Can't get it to work :-(. Have received the token and, put it in the config and restarted homebridge.
Always see 'Can't reach TV' on each command in the log.

[2018-11-15 22:06] pkvist opened #20 "Samsung default button"
Hi

Thanks for sharing; but I have a small issues.
The tv turn on after pressing the switch in Homekit. But it will not turn off after I set to off.

Did I miss something?

I have a UE65NU8005

Thanks ! 😊

[2018-11-16 10:35] JonoHaysom commented on #13
that's the same experience I'm having :(

[2018-11-16 21:21] RST2300 commented on #13
I have the same Problem. I have a UE 55 Nu 7179.

[2018-11-17 09:52] JonoHaysom commented on #13
QE65Q8 here.. looks like we may need a bit more troubleshooting.

[2018-11-17 10:57] TheMisfit68 commented on #13
Mine is a QE49Q7FAM

[2018-11-19 14:35] logictester commented on #13
@tavicu the token seems to be changing, my TV keeps asking to allow after a while of working fine, so i've removed the token - and paired again - a new token was presented, set it in the config, but after a few hours was asked to allow again, removed the token again and paired - new token was presented and yet it keeps asking to allow after a few hours again

[2018-11-19 14:37] tavicu commented on #13
Hei. I don't have time in the latest days to look but i will try to make some.

What i can tell is that i use the same version with my tv and never asked me to Allow since the first pair that was 5 days ago. I use my TV and commands every day without a problem!

[2018-11-19 14:53] logictester commented on #13
thanks, question - in settings, general, external device manager, device connect manager - do you have access notification set to Always On or something different?

[2018-11-19 15:01] tavicu commented on #13
@logictester i will take a look when i get home but i don't think so! It did asked me the first time to Allow. So if it was on Always On, it shouldn't ask. But i will come back with a response :)

[2018-11-20 13:44] logictester commented on #13
@tavicu setting the Access Notification to Never seems to do the trick :)!

[2018-11-20 13:50] JonoHaysom commented on #13
Nope, that doesn’t work. It won’t show the prompt but it still doesn’t work.

[2018-11-21 19:35] jonasborneland commented on #13
@tavicu Thank you soooo! much for the update! Works brilliant on my TV :)

[2018-11-21 20:39] jonasborneland commented on #13
@tavicu Thank you so much for the update!! works on my TV after updating your plugin and adding the token to the config. My TV model is: UE40MU6402U 6 Series

[2018-11-21 21:04] TheMisfit68 commented on #13
same here

[2018-11-22 03:56] JonoHaysom commented on #13
looks like its either a Tizen v3 or a series 7-9 issues

[2018-11-24 12:45] WimBre opened #21 "Samsung Smart TV won't wake up"
I've installed the plugin for Samsung TV's with Tizen OS but when I try to wake up my TV in Homekit nothing happens.

1. My TV is in Stand by modus.
2. In Homekit I activated the TV button (he is ON) but nothing happens.

Homebridge is showing:
[2018-11-24 13:38:22] Homebridge is running on port 51826.
[2018-11-24 13:38:22] [TOON] Retrieving client data from Toon op Afstand...
[2018-11-24 13:38:22

[2018-11-26 07:42] KennyVB commented on #13
hmm same problem here! UE40KU6075 Samsung
not getting token in debug mode either.. it works tho, can use all the commands i had before i updated to latest. and yes it asked for permission and i press allow. but still fails to pair it says

[2018-11-30 05:16] markgergely commented on #13
@tavicu I had the same symptoms as @JonoHaysom with a 65MU8000, the problem is right here: https://github.com/tavicu/homebridge-samsung-tizen/blob/master/lib/SamsungRemote.js#L41
When you are running `homebridge` on a OSX, `-w 1` is an invalid command:
[code]

[2018-11-30 17:05] TheMisfit68 commented on #13
Just wanna confirm I'm also running Homebridge on OSX

[2018-11-30 17:09] tavicu commented on #13
Hei! Sorry for not being active but i had a lot of work at the job. I will push a new update next week at the beginning and try to solve most of the problems, including -w on OS X.

As an update, i still run the same version and the TV never ask me to allow again. Please make sure you update your config file to include the token!

[2018-11-30 17:13] logictester commented on #13
@tavicu ever since i've set the notification in TV settings to first time only - never been asked to allow again :) i run my homebridge as a docker on my LibreELEC Kodi box btw

[2018-11-30 17:31] thehauntedmattress commented on #13
I thought my setup was good but the TV did ask me to allow access for Homebridge.  I did it again with a new token and I'm fine for now.  I just hope that it doesn't ask me again.  Any work on fixing that so far?

[2018-11-30 17:34] logictester commented on #13
@thehauntedmattress make sure in the TV settings - Remote device management to set the notification setting to first time only

[2018-11-30 17:35] thehauntedmattress commented on #13
I had it at first time only and it was still doing it.  In fact I turned it off and it still was asking for allow/deny.

[2018-11-30 18:23] logictester commented on #18
@tavicu any chance you'll have some time to work on this as well? Thank you!

[2018-11-30 19:04] tavicu commented on #18
Hei @logictester, i will do it on the next week :)

[2018-11-30 19:06] tavicu commented on #19
Hi, unfortunately the samsung api don't have this option.

The only possible way is to make some changes and check the TV status every second. Which will still have some delay. And also comes with a very bad performance :)

[2018-11-30 19:06] tavicu commented on #20
Hi, please try to follow this issue #13

[2018-11-30 19:06] #20 closed

[2018-11-30 19:07] tavicu commented on #21
Are you sure you put the correct IP and MAC address in the config file?

[2018-11-30 20:21] WimBre commented on #21
I pinged the IP address and in the "Stand by modus" I didn't get any response but after turning the TV "ON" I got a response.

With the app "Who's on my wifi" I have checked the MAC address.

So yes I am sure

[2018-11-30 20:40] WimBre commented on #21
It's a Samsung UE48JU7000

[2018-12-01 07:49] brjborja commented on #18
@tavicu Thank you!

[2018-12-04 04:54] man-knee opened #22 "IP address not reading"
config.json file is correctly updated.  However, running Homebridge it stalls on line 25 of SamsungDevice.js for the IP check and generates an error that TV IP address is required for undefined.  IP address is present in the file as is the mac address.  Any input would be great.

[2018-12-04 13:59] tavicu commented on #22
Can you show me your config?

[2018-12-04 19:12] tavicu commented on #13
I have released a new version.
- Fixed OS X bug
- Now it will try 3 times to pair before failing
- Check if TV is on before trying to pair
- Forcing to pair before using accessories
- Updated README

Please try to look on the README file at Installation steps!
Especially this one:

On TV go to `Settings` - `General` - `External Device Manager` - `Device Connection Manager` and set `Access Notifica

[2018-12-04 19:12] #13 closed

[2018-12-04 19:14] tavicu commented on #21
Hi, i have released a new version right now.

Please update the plugin and also look at the README file if you missed one step.

Also check if TV is compatible. You can see in the README how to do it.

[2018-12-04 19:16] Serjip opened #23 "Can't receive token"
After clicking allow on tv pop up in log receive crash

[code]

[2018-12-04 19:17] tavicu commented on #18
Hei. Just wanted to give you an update of this issue.

Tomorrow i will to the implementation and probably release it the day after tomorrow after some testing.

Also i have just released a new version with some fixes and improvements :)

[2018-12-04 19:19] logictester commented on #18
@tavicu THANK YOU!

[2018-12-04 19:41] tavicu commented on #23
Can you access this address? What it returns? `http://TV_IP:8001/api/v2/`

[2018-12-04 20:10] JonoHaysom commented on #23
Getting this error on boot of homebridge:

[05/12/2018, 00:08:27] [SamsungTizen] Initializing SamsungTizen platform...

/usr/local/lib/node_modules/homebridge-samsung-tizen/lib/SamsungDevice.js:26
        if (!config.ip) throw new Error(`TV IP address is required for ${config['name']}`);
                              ^
Error: TV IP address is required for Config
    at new SamsungDevice (/usr/loca

[2018-12-04 20:17] JonoHaysom commented on #23
{
			"platform": "SamsungTizen",
			"devices": [{
					"name": "Livingroom TV",
					"ip": "192.168.1.190",
					"mac": "d8:e0:e1:6a:b9:0b"
				},

is my JSON config.. ive not got "token" there as im initialising for the first time.

[2018-12-04 21:14] tavicu commented on #23
@JonoHaysom you have a problem in the config file.
Make sure you have all parentheses closed as in the example.

[2018-12-05 00:02] man-knee commented on #22
Here you go.  Full disclosure, bit of a noob here.  Trying to start small with the TV and work up from there.  Any thoughts are appreciated.

<img width="653" alt="screen shot 2018-12-04 at 7 01 26 pm" src="https://user-images.githubusercontent.com/45584336/49481040-18cef800-f7f7-11e8-8173-980b151cb365.png">

[2018-12-05 05:39] tavicu commented on #22
As i said your config is wrong :)
On platforms it should look like this:

[code]

Let me know how it is after you update it :)

[2018-12-05 05:42] tavicu commented on #23
Hi @JonoHaysom, the config file must be correct too, not only valid :)

Pay attention at devices that is also having a `[` before `{`.

You may have a problem in another part of the json file.

Try to look over here: https://github.com/tavicu/homebridge-samsung-tizen/issues/22

I am 100% that what you have is a config problem especially that you set the name to `Livingroom TV` and in the error is

[2018-12-05 14:57] #21 closed

[2018-12-05 15:01] JonoHaysom commented on #23
updated it to the match the one above @tavicu  and now get this:

[05/12/2018, 19:00:32] [TV] Trying to pair the TV

/usr/local/lib/node_modules/homebridge-samsung-tizen/lib/SamsungRemote.js:306
                if (data.token) {
                         ^
TypeError: Cannot read property 'token' of undefined
    at WebSocket.socket.on (/usr/local/lib/node_modules/homebridge-samsung-tizen/lib/Samsun

[2018-12-05 15:04] tavicu commented on #23
Start the HomeBridge in debug mode. You will find in README how to do it.
Also check if you TV is compatible. In the README you will also find how to do it.

And make sure you are on the latest firmware in TV.

[2018-12-05 15:10] JonoHaysom commented on #23
have done that I get the same output.

[05/12/2018, 19:06:57] [TV] Trying to pair the TV

/usr/local/lib/node_modules/homebridge-samsung-tizen/lib/SamsungRemote.js:306
                if (data.token) {
                         ^
TypeError: Cannot read property 'token' of undefined
    at WebSocket.socket.on (/usr/local/lib/node_modules/homebridge-samsung-tizen/lib/SamsungRemote.js:306:26)
    at W

[2018-12-05 15:11] JonoHaysom commented on #23
Id be happy to have you remote in via any desk if you wanted to see it first hand

[2018-12-05 15:13] tavicu commented on #23
@JonoHaysom Strange ... looks like your TV is not returning any info when you press "Allow".
I will get home in ~2 hours and will see then :)

[2018-12-05 17:19] JonoHaysom commented on #23
@tavicu ready when. you are!

[2018-12-05 18:42] Serjip commented on #23
Hi @tavicu, example of response tv GET request

`{
"device": {
"FrameTVSupport": "false",
"GamePadSupport": "true",
"ImeSyncedSupport": "true",
"OS": "Tizen",
"TokenAuthSupport": "true",
"VoiceSupport": "true",
"countryCode": "RU",
"description": "Samsung DTV RCR",
"developerIP": "0.0.0.0",
"developerMode": "0",
"duid": "uuid",
"firmwareVersion": "Unknown",
"id": "uuid",
"ip": "192.168.88.17",
"mo

[2018-12-05 18:56] Serjip commented on #23
Finally after going to Access Notification menu and switching access for application to off and enable again token was received in console. I believe it some bug in tizen api, because it quite unstable

[2018-12-05 19:48] tavicu commented on #23
@Serjip glad i was able to help :)

@JonoHaysom i made a mistake in README, to start with debug mode run it with `-D` parameter, like this `DEBUG=* homebridge -D`

And lets see what it returns in console when you click Allow :)

[2018-12-06 04:46] JonoHaysom commented on #23
@tavicu ok, ive got it working, after wiresharking it was an issue with upnp secure mode on the new routers. found the issue and the pings and auth are now flowing.. great stuff! hope it sticks!

one thing, there seems to be a delay in statefulness of the switch. if I turn it off via the home app the switch turns off instantly, if I trigger via Siri voice then there is a delay showing on the switc

[2018-12-06 17:32] JonoHaysom commented on #23
@tavicu https://github.com/petealves/homebridge-samsung-smart-tv18 are you able to check his source code? he has a super fast updating status for the device (stateful) is it the same method you're using?

[2018-12-08 20:37] tavicu commented on #23
@JonoHaysom They are actually using a much slower method.
I ping the IP which is very fast when on (~75ms) and when it's off it has the minimum 1 second timeout of system.

Their method is sending a request to TV which takes 2 seconds when it's OFF.

Anyway, i have implemented a timeout and now it will respond in less than 250ms :)
It will go with the next release, probably tomorrow.

I will close

[2018-12-08 20:37] #23 closed

[2018-12-09 14:17] tavicu commented on #18
Good news :)

Just pushed a release with two new features.

1. Open applications
And yes, you can create automations for this switch because it's not stateless!
You can find here how to create a switch: https://github.com/tavicu/homebridge-samsung-tizen#open-application
And here you can find application ids: https://github.com/tavicu/homebridge-samsung-tizen#applications

2. Refresh switches in re

[2018-12-09 14:19] tavicu commented on #19
Hi, i decided to open this issue to make a small announcement!

I just released a new version that will update the switch status in real time!
But this is off by default. You will have to turn it on.

You can read more here: https://github.com/tavicu/homebridge-samsung-tizen#update-in-real-time-on-the-background

[2018-12-09 14:29] #22 closed

[2018-12-09 15:50] logictester commented on #18
Bro - this is amazing!!!! works like a charm!! thank you so much! will continue testing!!!

[2018-12-09 16:20] tavicu commented on #18
Let me know if you find a problem and will fixit it asap :)

[2018-12-09 18:37] eduardoboucas commented on #18
@tavicu this works wonderfully, thanks! could you share any info on how I can find the ID of an application?

[2018-12-09 19:05] tavicu commented on #18
Hei @eduardoboucas , it's not very easy to find the ID. But i will implement a method tomorrow to get all installed applications and write them to the console so you can get the ID from there :)

[2018-12-09 19:08] eduardoboucas commented on #18
that's perfect, thank you! as a side note, I just noticed that sending a `KEY_HDMI[x]` command (e.g. `KEY_HDMI3`) won't work for me, somehow. the console says `Command: Command sent with success to TV`, but nothing happens.

should I create a separate issue, or do you have any quick pointers I could try to debug? thanks again!

[2018-12-09 19:12] logictester commented on #18
The only HDMI command that ever worked for me was HDMI, sending a specific HDMI never seemed to work

[2018-12-09 19:16] tavicu commented on #18
Same here ... never worked!
I will try to look tomorrow for a solution

[2018-12-09 23:06] marithpl commented on #19
Thank you bro! Also for Apps!

[2018-12-11 03:28] yclai1229 opened #25 "The TV always has to be licensed even if I close the notification."
Hi Tavicu,

The TV always has to be licensed even if I close the notification.

1.On TV go to Settings - General - External Device Manager - Device Connection Manager and set Access Notification to Off.

2.On TV go to Settings - General - External Device Manager - Device Connection Manager - Device List and make sure you didn't select Deny.

I have checked the above two settings, but when I execut

[2018-12-11 04:37] tavicu commented on #25
Hei,

Make sure that after you click "Allow" on the notification, you get the token that was printed on Homebridge console and insert it intro the config file. Then restart Homebridge server.

[2018-12-11 05:10] thehauntedmattress opened #26 "ESPN App ID?"
If you could find the ESPN app ID or at least tell us how to find the app ID's that would be awesome thanks!

[2018-12-11 07:07] tavicu commented on #26
Hi. It's hard to get the app ID.

I have a new implementation where it will print all ID's when you start the server but i have not tested it.
Today when i get home i will make sure that everything it's ok and push a new release.

I'll keep you posted!

[2018-12-11 07:07] #19 closed

[2018-12-11 08:11] KennyVB opened #27 "no allow incoming on samsung tv"
Hello

i dont get the messege on my Samsung TV (the allow access messege)
i dont have this  "Settings - General - External Device Manager - Device List. Maybe you clicked Disallow."
i can how ever go here "Settings - Network - Expertsettings - Device Manager - and in here set allow/first time only/reject messege" and see connected devices

Samsung UE40KU6075 Tizen
SW: 1231.1

it's Tizen and it wor

[2018-12-11 08:14] tavicu commented on #27
Looks like you have a problem with IP :)
Are you sure it's correct?

Try to run this command (replace TV_IP with the real ip of tv) from the terminal and see if it's responding.
`ping -t 1 -c 1 TV_IP`

[2018-12-11 09:55] KennyVB commented on #27
` ping -t 1 -c 1 10.0.2.44
PING 10.0.2.44 (10.0.2.44): 56 data bytes
64 bytes from 10.0.2.44: icmp_seq=0 ttl=64 time=4.143 ms

--- 10.0.2.44 ping statistics ---
1 packets transmitted, 1 packets received, 0.0% packet loss
round-trip min/avg/max/stddev = 4.143/4.143/4.143/0.000 ms`

ip is correct, got it reservet in my router on it's mac adress.
so got it correct both ip and mac adress

[2018-12-11 10:00] KennyVB commented on #27
it's running on a Raspberry Pi 2, got a backup running on freenas/bsd in a jail, and that one works, just not rpi..

[2018-12-11 10:13] tavicu commented on #27
Strange ... that error, "Please turn ON the TV for pairing.", it's only because the ping command don't respond. Did you run the command from the Pi?

[2018-12-11 15:13] tavicu commented on #27
I will add more debug on this with the new release and see what the problem is.

[2018-12-11 19:46] fighterzg6 commented on #27
I have the same Problem, with the Version 2.1.0 it works not! With 2.0.0 it works!

[2018-12-11 19:57] tavicu commented on #27
Pushed a new version. Open the server with debug mode and check if the ping command returns any error when it checks if TV is online.

[2018-12-11 20:16] tavicu commented on #26
Hei. Pushed a new release.

Now you can start the homebridge server with this command `homebridge tizen-apps` and will show a table with all your apps and ids.

Make sure the TV is on and paired.

[2018-12-11 20:16] tavicu commented on #18
Hei. Pushed a new release.

Now you can start the homebridge server with this command `homebridge tizen-apps` and will show a table with all your apps and ids.

Make sure the TV is on and paired.

[2018-12-11 20:39] iondarie opened #28 "siri commands issue"
Hello,

My TV is called "Living TV", i have 3 commands Volume Up / Volume Down / Mute.

If i call out siri with the following command: Living TV Volume Up it tells me that there is nothing playing...

But if i say: Volume Up Living TV it works perfectly fine.

as far as i can understand the plugin list the command and then the parent and i think it should be PARENT (living tv) and the COMMAND (vol

[2018-12-11 20:49] wnuczek commented on #28
I had a similar issue. All switches get „TV” at the end of homekit name. Ended up renaming them all manually. Anyway Siri still recognizes it awkwardly.

[2018-12-11 20:51] iondarie commented on #28
SamsungDevice.js line 140

needs to be changed from:                element.name = `${element.name} ${this.config['name']} `;
to:                 element.name = `${this.config['name']} ${element.name}`;

[2018-12-11 21:44] vanzuiden opened #29 "Problems pairing my Samsung Serif TV"
Hi,

I'm having troubles connecting to my Samsung Serif TV (UE40LS001).

I do not get a modal asking for permission when I run homebridge and therefore cannot seem to pair the tv. The log shows:

[12/11/2018, 10:20:38 PM] Homebridge is running on port 51826.
[12/11/2018, 10:20:43 PM] [Serif TV] Trying to pair the TV
[12/11/2018, 10:20:44 PM] [Serif TV] Trying to pair the TV
[12/11/2018, 10:20:46 P

[2018-12-11 21:49] tavicu commented on #29
Hi,

Unfortunately your TV is running a version of Tizen which is not compatible with this plugin.

It's another method where pairing is made by PIN as you seen.

Adding this method to the plugin takes time and i don't have a TV where i can test it. So everything i will do will be blind.

Right now it's not in my priorities list but if i'll have the time i want to do it in the future so more peopl

[2018-12-11 21:49] tavicu commented on #28
@iondarie as @wnuczek told, you can rename the switches from the Home app. No need to change the source code of the plugin!

[2018-12-11 21:51] iondarie commented on #28
Yes you are absolutely right, i forgot i can rename from home app 😂

Thank you for the great plugin, one question is there a key for energy saving mode?

[2018-12-11 21:54] tavicu commented on #28
I an not aware of something like this. But if you can find it in the Samsung Remote App from the phone i can have a look and see how they are doing it :)

[2018-12-11 21:54] vanzuiden commented on #29
Alright, that's too bad. Thanks for your feedback and work on the plug-in.

I will definitely keep an eye out for any possible future releases with the PIN method 👍

[2018-12-11 21:57] #29 closed

[2018-12-12 03:34] thehauntedmattress commented on #26
So I updated, rebooted my pi, and started `homebridge tizen-apps` but I am not seeing a table with app IDs.

[2018-12-12 08:08] tavicu commented on #26
Start the server in debug mode and see if it returns any error

[2018-12-12 15:56] yclai1229 commented on #25
Hi Tavicu,

When I reset the TV and configure 2.1.1 software
Homebrdige does not appear to have a “token”.
Even if I allow it on TV, there is no token.

The following three permission conditions appear...

2018-12-12 23:47:10] [電視] Trying to pair the TV
[2018-12-12 23:47:15] [電視] Trying to pair the TV
[2018-12-12 23:47:19] [電視] Trying to pair the TV
[2018-12-12 23:47:22] [電視] Pair failed. Make sur

[2018-12-12 18:21] #28 closed

[2018-12-12 18:23] tavicu commented on #25
Start the server in debug mode and see if it returns any error.

[2018-12-12 18:23] #18 closed

[2018-12-12 21:15] eduardoboucas commented on #18
Did you find the reason for the HDMI issue?

[2018-12-12 21:40] tavicu commented on #18
Tried now and also checked the TV logs. It looks like the keys are not existing. I will look more tomorrow and see if there is solution.

[2018-12-13 02:12] yclai1229 commented on #25
hi,Tavicu,

How can I start debug mode?
Thanks you!

[2018-12-13 11:33] marithpl opened #30 "Homebridge stop with refresh true"
Hi!

I’ve installed the new amazing update. But I have a problem with it.
When I add refresh: true my Homebridge is broke and I recive this error:

“at process._tickCallback (internal/process/next_tick.js:180:9)
    at _combinedTickCallback (internal/process/next_tick.js:138:11)
    at endReadableNT (_stream_readable.js:1055:12)
    at IncomingMessage.emit (events.js:208:7)
    at emitNone (events

[2018-12-13 11:37] tavicu commented on #30
Hei! I know the problem and has been fixed in the latest release.
Are you sure you are on the latest version? v2.1.2?

[2018-12-13 13:06] marithpl commented on #30
Again Thanks! I

[2018-12-13 13:06] marithpl commented on #30
Do you know spotify app id?

[2018-12-13 13:07] tavicu commented on #30
@marithpl start the homebridge server with `homebridge tizen-apps` command and it will show you a table with all apps that are installed on TV.

Make sure your TV is paird and on.

[2018-12-13 14:11] thevisualist opened #31 "Samsung The Frame Art Mode"
Hi,
thanks for the plugin! Is it possible to control the On/Off/ArtMode switch for Samsung The Frame? If turned "Off" in Apple Home it switches to ArtMode and then it goes back to "On" in Home.

Thanks in advance!

[2018-12-13 14:15] tavicu commented on #31
Hei!

I'm sorry but i am not aware of Samsung Frame and how it works. I will not be able to replicate and try to fix the problem.

[2018-12-13 14:30] thevisualist commented on #31
Ok thanks!

[2018-12-13 14:30] #31 closed

[2018-12-13 16:58] #30 closed

[2018-12-13 16:59] tavicu commented on #25
`DEBUG=* homebridge -D`

[2018-12-14 18:39] Rocknpools opened #32 "TV turn on by itself"
Hi! I have experienced a problem with this home bridge-plugin. Basically when I turn off the TV from Homekit it turn itself on after a couple of minutes. This doesn't happen when I turn the tv off from the tv remote. Is it normal?

[2018-12-14 18:39] Rocknpools opened #33 "TV turn on by itself"
Hi! I have experienced a problem with this home bridge-plugin. Basically when I turn off the TV from Homekit it turn itself on after a couple of minutes. This doesn't happen when I turn the tv off from the tv remote. Is it normal?

[2018-12-14 18:39] #33 closed

[2018-12-14 18:41] Rocknpools opened #34 "Plex App ID"
Hi! do you know what is the Plex app ID?

[2018-12-14 18:44] tavicu commented on #34
Hi,
You can see here how to get apps id
https://github.com/tavicu/homebridge-samsung-tizen/issues/26

[2018-12-14 18:44] #34 closed

[2018-12-14 19:11] marithpl commented on #26
I leave here an my apps id.
Maybe you will add it to manual for others.

│    0    │        'YouTube'         │   '111299001912'    │
│    1    │        'Spotify'         │   '3201606009684'   │
│    2    │        'Netflix'         │    '11101200001'    │
│    3    │          'ipla'          │   '3201507004202'   │
│    4    │       'Player.pl'        │   '3201508004642'   │
│    5    │        'DS

[2018-12-14 19:15] thehauntedmattress commented on #26
If I run Homebridge as a service on startup does tang change how to execute this?

[2018-12-14 19:50] marithpl opened #35 "Idea for new feature"
Thanks a lot for running apps & refresh it's a huge help!
I think it's the best plugin to my homebridge devices because of functionality and your involvement!

I try to modify my actual scenes & automation. What may be helpful?
Adding a delay parameter to delay actions (clicks on TV).

For example
{"name" : "SPOTIFY",
"power" : true, // Check if power is on
"app" : "3201606009684", // Run Spotify

[2018-12-14 21:09] tavicu commented on #35
Hei! There is already an option for delay :)

Please see the readme on Device settings section :)

[2018-12-14 22:19] tavicu commented on #35
:) that’s an easy implementation! I will add it this week and push a new release.

Kepp you posted

[2018-12-15 00:15] tavicu commented on #32
Hi. That's not normal.

Open the homebridge in debug mode and check if anything is printed in the console when the tv turns back on.

Also check if you have an automation set to do this.

[2018-12-15 12:18] marithpl commented on #35
I reported also problem with asking for permission when homebridge is restarted.
In TV i have disabled this option

[2018-12-16 09:54] WimBre commented on #27
I have the same problem (also Version 2.1.2). I don't get a popup on my Samsung TV (to allow access).

Staps made by me:
1. The token field from configuration file it's empty.
2. I have checked and my TV is compatible with the plugin.
3. I don't have this "Settings - General - External Device Manager - Device List.
4. Try to hard reset your TV. Done.
5. I have run the command "ping -t 1 -c 1 TV_IP

[2018-12-16 12:00] NagyAttilaORG opened #36 "Too much ping"
Hello!

How can I change the ping time? As I see in my Logs the accessory ping my Tv too often. Can I change the frequency?

Thank you!

`  cmd: 'ping -t 1 -c 1 10.0.1.22' }
[12/16/2018, 12:00:26 PM] [Hálószoba TV] [DEBUG] PING 10.0.1.22 (10.0.1.22) 56(84) bytes of data.
--- 10.0.1.22 ping statistics ---
1 packets transmitted, 0 received, 100% packet loss, time 0ms
[12/16/2018, 12:00:26 PM] [Hálós

[2018-12-16 12:06] tavicu commented on #36
Set it to false and will ping every 10 seconds. In the next update you will be able to set a time in ms :)

I’ll keep you posted

[2018-12-16 12:08] NagyAttilaORG commented on #36
Thank you tavicu!

That's what I call support! Now I give you a big STAR! :)

[2018-12-16 12:08] #36 closed

[2018-12-17 21:44] ChrisGSXR commented on #29
Had exactly same problem with Samsung "The Frame" TV. Tried 20+ times with same result as described. But then turned off youtube app, went to home screen and everything worked perfectly.

was:
0|homebrid | [2018-12-17 21:28:28] [TV2] Trying to pair the TV
0|homebrid | [2018-12-17 21:28:30] [TV2] Trying to pair the TV
0|homebrid | [2018-12-17 21:28:34] [TV2] Trying to pair the TV
0|homebrid | [2018

[2018-12-17 21:49] ChrisGSXR commented on #31
JFYI "the frame" is UE65LS003 that could be turned off or could just show static picture like a painting. ("FrameTVSupport":"true")

So while it shows static picture in turned off mode it shows incorrect status (like it's "on").

{"device":{"FrameTVSupport":"true","GamePadSupport":"true","ImeSyncedSupport":"true","OS":"Tizen","TokenAuthSupport":"true","VoiceSupport":"true","countryCode":"RU","desc

[2018-12-18 10:36] eduardoboucas opened #37 "Unable to select specific HDMI channel"
Sending commands such as `HDMI_1` doesn't work. I've previously reported this in #18, but since that issue is now closed I thought it'd be useful to open a new one for future reference.

Thanks!

[2018-12-18 10:47] tavicu commented on #37
As i already said in that issue, `HDMI_*` or `HDMI*` keys don't exist. I will remove them from README with the next push

[2018-12-18 10:47] #37 closed

[2018-12-18 10:52] marithpl commented on #35
I know and I have

[2018-12-18 17:33] vanzuiden commented on #29
Hi @ChrisGSXR, thanks for your comment.

Can you elaborate a bit more on what you exactly did?

Did you first try to pair the TV while you had the YouTube app open? Or did you somehow terminated the YouTube app? If so, how does this work?

I don't think the Frame and the Serif run the same version of Tizen but I hope you can help me further.

[2018-12-18 18:37] Rens93 commented on #27
Got the same problem :(

[2018-12-18 18:43] Rens93 commented on #35
Is this done ?

[2018-12-19 08:52] YoMaMa7467 opened #38 "Example Config for Multiple Samsung Tizen Tv"
Does anyone have an example config for more than one Samsung TV?

[2018-12-19 08:53] tavicu commented on #38
[code]

[2018-12-19 08:55] YoMaMa7467 commented on #38
Thankyou very much!

[2018-12-19 08:56] tavicu commented on #38
You're welcome :D

[2018-12-19 08:56] #38 closed

[2018-12-20 08:50] ChrisGSXR commented on #29
1) I was trying while tv was showing some youtube stuff. I have just hold the "go back" button for several seconds to shut down youtube app. Went to original home screen and it worked for me. I know, sound weird.
2) I think it's the same Tizen I went to http://192.168."tv ip address":8001/api/v2/
and there is parameters: "FrameTVSupport":"true","OS":"Tizen"
full result here: https://github.com/tav

[2018-12-20 19:08] Rens93 opened #39 "Same "Trying to pair the TV" error"
Terminal is saying:

[2018-12-20 19:05:23] [TV] Trying to pair the TV
[2018-12-20 19:05:24] [TV] Trying to pair the TV
[2018-12-20 19:05:25] [TV] Trying to pair the TV
[2018-12-20 19:05:25] [TV] Pair failed. Make sure you click Allow on the TV!

I have copy and paste the code include token: ""
It seems the code will work, if I turn on my TV it is working, but keeps getting this error..

[2018-12-23 02:12] Yamch opened #40 "Id MyCANAL and Ocs"
Hi! do you know what is the MyCANAL and OCS app ID?

[2018-12-23 07:07] kyleringram commented on #27
Have the same issue. Not sure if this is relevant but it is trying to use a different port when running through homebridge.
Going through the browser to make sure it is compatible, it uses port 8001
http://x.x.x.x:8001/api/v2/
Going through homebridge
[2018-12-22 22:59:23] [Living Room TV] Trying to pair the TV
[2018-12-22 22:59:23] [Living Room TV] [DEBUG] Pair to wss://x.x.x.x:8002/api/v2/channe

[2018-12-23 07:13] kyleringram commented on #27
same issue, I noticed that there is no directory channels when using ip/api/v2/channels

[2018-12-27 19:35] brabijan opened #41 "Another pair failed error"
Hello, i thing i tried everything from readme and still can't pair TV. You can find homebridge debug log and tv api output bellow. I was able to turn off tv through different plugin, but i was hoping this plugin is better and have prettier syntax (https://github.com/nitaybz/homebridge-samsung-remote). In my tv settings i don't have options as you wrote in readme, but i think i found it in differen

[2018-12-28 12:08] Pensive opened #42 "Power : true function no longer works"
Hiya - I’m on the latest version and i’ve Setup all my freesat channels and while I have the tv watching freesat they work just fine.

But I also set the power : true so if the tv is off and I push the button it should turn it on and then select the channel - but this bit doesn’t seem to work anymore.

Not a big issue but I’m sure it used to work fine :)

[2018-12-28 12:11] Pensive commented on #42
I’ll do a debug log for you once I get back home ;)

[2018-12-30 13:44] Pensive commented on #42
Please close this issue.

It’s working now.

I think it just needed the tv status to sync. Or I’m an idiot. It could be either.

Nothing to see here.

[2018-12-30 13:44] Pensive commented on #42
Please close this issue.

It’s working now.

I think it just needed the tv status to sync. Or I’m an idiot. It could be either.

Nothing to see here.

[2018-12-30 13:44] #42 closed

[2018-12-30 14:28] peshay opened #43 "version mismatch"
After installing the plugin and I try to start homebridge, I get the following error:
[code]
then I tried to install node >8. but then homebridge doesn't want to start anymore
[code]
running `npm rebuild` or reinstalling it didn't helped.

[2018-12-31 00:56] iamjfx commented on #43
npm install -g --unsafe-perm homebridge (and all other plugins)

[2019-01-01 16:58] peshay commented on #43
That helped, thanks!

[2019-01-01 16:58] #43 closed

[2019-01-03 14:05] paskovitch opened #44 "Tune In app ID"
What is Tune In app id? Thanks!

[2019-01-06 22:12] arnowillig commented on #14
Hi, I got a similar problem with "The Frame". (It is a UE55LS003 Samsung TV from 2017)

The problem is, that the power detection of the plugin does not work with this TV. For example, when the TV is on "Off"-Mode (Art-Mode), the URL http://x.x.x.x:8001/api/v2/ is still reachable.
It would be ideal if the plugin would mark the TV as "Off" in this mode. Maybe there is another API call to detect this

[2019-01-08 20:09] ag0r4n commented on #41
Hi

Exactly the same bug here

Node version v10.15.0
Homebridge version 0.4.45

[code]

[code]

[2019-01-09 15:56] nojstevens commented on #25
I have exactly this issue, this is the relevant debug from my log

[1/9/2019, 3:54:42 PM] [[TV] office] Trying to pair the TV
[1/9/2019, 3:54:42 PM] [[TV] office] [DEBUG] Pair to wss://192.168.7.119:8002/api/v2/channels/samsung.remote.control?name=W1RWXSBvZmZpY2U=
[1/9/2019, 3:54:42 PM] [[TV] office] [DEBUG] { id: 'e0ab8280-1426-11e9-9c2f-a34e2951dc8c',
  clients:
   [ { id: 'e0ab8280-1426-11e9-9c

[2019-01-09 17:20] tavicu commented on #41
Hi,
There are more methods to pair the TV.
Another method is with a PIN.

Please get the demo from here and try to see if it works https://github.com/tdudek/samsung-remote-models-2014-and-newer

If it does, then my plugin is not compatible for the moment. I will try to implement it but it's not on my priority right now since i can't even test it.
If the demo from that plugin don't work, will try t

[2019-01-09 17:21] tavicu commented on #39
Please follow this Issue #41
Turning ON will always work since it doesn't use the API.

[2019-01-09 17:21] #39 closed

[2019-01-09 17:22] tavicu commented on #35
Hey, sorry for the late response. Since with the holidays my time was limited.

I will have a look this weekend.

[2019-01-09 17:22] #32 closed

[2019-01-09 17:24] tavicu commented on #25
@nojstevens please follow #41
Also, your config is wrong. Both TV's should be in the first `devices` array

[2019-01-09 17:24] tavicu commented on #27
Hei. please follow and check my last comment from this issue #41

[2019-01-09 17:24] #27 closed

[2019-01-09 17:25] #25 closed, assigned to nobody

[2019-01-10 11:22] AlexHFOkumura opened #45 "the "devices": [{ line gives me error, i just can configure it without this line, but my tv doesnt ask for permission"
always when it ry to add "devices": [{ line the config.json gives me error, and whitout that line, my tv doesnt ask me permission...please help

[2019-01-11 23:49] andrewmcd7 opened #46 "Sometimes it works. Sometimes it doesn’t."
Can you give me a hand figuring out why this is so inconsistent? I have the tv plugged into Ethernet. Config is set up. Sometimes it works to wake the tv. Sometimes it works turning it off. More times than not it doesn’t work. When it doesn’t, I click the “switch” in “home” and it changes for a split second then changes back.

[2019-01-14 18:17] langovoi commented on #28
You can use my plugin for control volume with slider in HomeKit and with Siri: https://github.com/langovoi/homebridge-upnp#readme

[2019-01-14 19:01] Pensive commented on #28
You can use elgato eve app to rename accessories as well and it’s free ;)

[2019-01-19 08:34] drtp opened #47 "Some problems with Samsung Q9 Series"
Hi,

we have a GQ65-Q9FN and unfortunately it does not react on all possible commands. Well, to tell the truth, the TV only reacts on the "channel" command so that it is possible to switch between differnt TV programs using Siri and to turn it on and off by using the respective toggel switch. However, up to now I was not able to use any of the KEY commands or the mute function.

I would really app

[2019-01-19 09:44] Pensive commented on #47
I have a similar problem with a Samsung UE65MU8000 - on and off works and channel select, and app select (Netflix/YouTube etc) but I can’t choose HDMI source :-/

I’m out this morning but I’ll try and get a verbose log later on

[2019-01-20 15:16] KYDronePilot opened #48 "Existence of a Dash Key Command"
Is there any way to send the dash key in order to access digital sub-channels for OTA broadcast stations (e.g. 50-2)? I have searched the web for documentation of similar projects, and I found one that listed `KEY_DASH` as a command, but it would not work with my TV.

Maybe I'm missing something obvious, but I couldn't find a possible match in the list of commands provided with this project.

[2019-01-20 15:48] dannyharuh commented on #45
I have the same problem is there someone who has the solution?

[2019-01-20 18:59] KYDronePilot commented on #48
Here is the related debug output when trying to enter in a digital sub-channel:

[code]

[2019-01-24 20:21] ageorgios opened #50 "ios 12.2"
Will you make it use the new TV accessory?
https://www.macrumors.com/2019/01/24/apple-seeds-ios-12-2-beta-1-to-developers/

[2019-01-24 20:52] Pensive commented on #50
this will require homebridge to be updated first ;)

[2019-01-24 21:06] ageorgios commented on #41
it would be great if you implemented it for 2015 Tizen TVs

[2019-01-26 01:45] cnnn commented on #50
.. which has just been updated

[2019-01-26 06:21] tavicu commented on #50
Hei. Homekit was just updated!

I am very excited about the new feature!
But since there are not a lot of examples i will have to play with it to see what it can do and what can be implemented!

I’ll keep you posted

[2019-01-26 06:30] #41 closed

[2019-01-26 06:31] tavicu commented on #45
Hi, #38

[2019-01-26 06:31] #45 closed

[2019-01-27 08:37] cnnn commented on #50
I was able to modify my plugin to use the new Service type and got it showing on Home as a TV. Haven't got the speaker or remote working yet. My plugin is still using old API and hasn't got turned into platform, not sure if that matters.

In case it helps, I was following this example to update the plugin. https://github.com/KhaosT/HAP-NodeJS/blob/master/accessories/TV_accessory.js.

[2019-01-27 08:47] dibble9012 commented on #50
How exactly did you update the Samsung plugin with that?

[2019-01-27 08:47] dibble9012 commented on #50
How exactly did you update the Samsung plugin with that?

[2019-01-27 09:03] JonoHaysom commented on #50
I'm ready to help too @tavicu can't wait! can 2.1.3 be done first to update the current plugin to have the new icon and identifier? then perhaps the features are v3?

[2019-01-27 09:11] cnnn commented on #50
Basically I replaced Service.Switch with Service.Television, and added new required Characteristic including .Active (replacing .On). This should give you the minimum of having the new icon and the on/off switch. Haven't got anywhere further than that.

[2019-01-27 09:19] JonoHaysom commented on #50
Where is the location of the file you updated?

[2019-01-27 09:43] tavicu commented on #50
First i must see how it works with devices that are not on ios 12.2. It it doesn’t worh with them i will do a branch and come with instructions on how to install it!

But right now i’m in vacation until next week and i can’t :(

[2019-01-27 09:53] dibble9012 commented on #50
This is what is displayed on a non-beta system. Just says accessory is not supported. On my iOS device with beta 12.2 I got the tv to show up as a tv, and turn on and off, but not much else.
<img width="909" alt="screen shot 2019-01-27 at 01 51 47" src="https://user-images.githubusercontent.com/6963660/51799516-4cfedd80-21d6-11e9-82af-b73bbd643828.png">

[2019-01-27 09:56] JonoHaysom commented on #50
looks good Dibble. how did you update the plugin to ID your Samsung as a TV?

[2019-01-27 10:00] dibble9012 commented on #50
If you're on a Mac the file is located at /usr/local/lib/node_modules/homebridge_samsung_tizen/lib

Edit SamsungAccessory.js
Line number 27, change "switch" to "television"
Line number 28, change "On" to "Active"

That's as far as I've gotten. It does allow on and off control.

[2019-01-27 10:12] dibble9012 commented on #50
This is what it looks like on the newest beta, input is not working yet. The "Samsung Q6" switch is from another Homebridge instance. The "Samsung Q6" Television object is part of my test environment.
![img_0914](https://user-images.githubusercontent.com/6963660/51799678-fba41d80-21d8-11e9-9bc1-7e160344748d.png)
![img_0913](https://user-images.githubusercontent.com/6963660/51799679-fba41d80-21d8-1

[2019-01-27 13:03] JonoHaysom commented on #50
Thanks @dibble9012 all working here now!

[2019-01-27 13:20] tavicu commented on #50
Cool! So this breaks it for users that don’t have ios 12.2

I will create a new branch just to change the type and then i will play with options and see how we cand implement Inputs, speaker snd other things that are supported :)

[2019-01-27 13:41] marithpl commented on #35
Hi tavicu how your works? :)

[2019-01-27 21:55] stephenmd commented on #50
does replacing lines 27 & 28 on a pi work the same as you guys say?

[2019-01-28 12:07] andrewmcd7 commented on #50
Switching the 2 lines broke it for me :( then tried changing it back and it’s still broken. :( ahhhh

[2019-01-28 12:43] JonoHaysom commented on #50
Reset the homebridge instance

Best,

Jonathan

[2019-01-28 13:03] CKMartens opened #51 "App ID"
Hello,

i tried to get the app-id by start homebrige with command tizen-apps. But i get only information when i start the homebridge in debug mode an then i got this:
[code]

I will loking from the app-if for MagentsSports (TelekomSports).

[2019-01-28 14:47] villamann commented on #51
Hi!

Thanks for a great plugin. I second @CKMartens experience, no app id table when starting `homebridge tizen-apps`. It would be great to get the table, as we have some local (national) app providers which id is hard to find. Thanks.

[2019-01-28 21:33] villamann commented on #51
To supplement my previous post, here is the debug output:
[code]

[2019-01-28 23:02] marithpl commented on #50
Can't wait for TV accessory :)
I saw Bravia & LG community have already this feature in homebridge ;)

[2019-01-29 07:49] niklaswa opened #52 "Not able to pair with KU6079"
Hey, I know, you're quite busy now with the iOS 12.2 beta update.. 😄 (If you're not interested in implementing those devices, because you closed the other issues 3 days ago, then you can close this one too 😃)
I have an issue with pairing my 2016 Samsung UE43KU6079.
The request pops up on the tv, but the pair is failing anyways.

I've tried the "samsung-remote-models-2014-and-newer" repo. It's retu

[2019-01-29 09:08] tavicu commented on #52
Hi. Start homebridge in debug mode to see what it returns

[2019-01-29 20:10] idanyc opened #53 "Error: Command failed: ping -t 1 -c 1 [TV IP] / bad parameter [TV IP]"
I am running HomeBridge on Windows 10 (node.js v10.15.0)
TV set is NU8000 firmware 1202
http://[TV IP]:8001/api/v2/ returns details successfully
TV doesn't show the pairing popup

homebridge -D returns:
[code]

manually running "ping -t 1 -c 1 [TV IP]:8001" also returns "Bad parameter [TV IP].", ping -t -c 1 [TV IP] (without "1" for -t) works fine

[2019-01-29 21:33] NielsLeenheer commented on #50
Been playing around with this and I've got the remote keys working 🎉.

Wasn't too hard. Basically just one more characteristic that is added to the Television service that gets a callback when a button is pressed in the "AppleTV remote widget". And then map to the right Samsung keys and send them to the television.

[2019-01-29 21:47] NielsLeenheer commented on #50
Volume keys are also working 🍻

When opening up the remote widget you can press the volume buttons on the phone and it will send the button presses to the television.

[2019-01-29 22:08] tavicu commented on #50
That’s awesome! Can you make a pull request so we can see the changes?

[2019-01-29 22:13] NielsLeenheer commented on #50
Will do. But it is definitely not suitable to land the PR. It is basically just hacking in my local node_modules folder. Working on inputs now.

[2019-01-29 23:23] niklaswa commented on #52
@tavicu [Here](https://hastebin.com/bucejoboga.cs) is the log with enabled debug mode.

[2019-01-29 23:41] tavicu commented on #50
Unfortunately no, there is no key to select a specific HDMI port :(

[2019-01-30 00:34] Pensive commented on #50
Oh man that’s so Samsung it’s unbelievable.

Undocumented discrete IR hdmi - check
Rs232 control - check
Api control of hdmi source? The fundamental thing a television does in 2019? No.....

[2019-01-30 00:43] dibble9012 commented on #50
I contacted Samsung support to request HomeKit support (I'm guessing they don't want it because of their own buggy Smartthings support). This is their weak reply:

We appreciate your innovative ideas. Thank you for your interest in sharing your idea with Samsung. However, our long-standing company policy does not allow us to accept or consider suggestions for new product designs/features for comme

[2019-01-30 02:41] dibble9012 commented on #50
Any idea why my volume shows up as a lightbulb? It does not control the volume either. The plugin works with on/off control and input control.

[2019-01-30 07:38] greensouth commented on #50
Maybe sending remote key presses, is not the correct approach.

[https://github.com/kdschlosser/samsungctl](url)

I think accessing the API directly, would help. But I'm new to this, I'm just thinking  :)

[2019-01-30 09:18] NielsLeenheer commented on #50
I'm afraid I haven't found another API method to navigate to sources...

But I've added a way to make the source configurable. What you can do is send multiple commands, for example, open the sources menu, go left a couple of times to make sure you are on the first item in the sources list. Then go right until you go to the source you want. Then press Select. It is kind of annoying, but it works 🤷

[2019-01-30 09:24] NielsLeenheer commented on #50
This is my configuration for the sources:

[code]

And the result:
![img_757827187dcf-1](https://user-images.githubusercontent.com/233230/51971314-23b1ac00-2479-11e9-9314-64bfa4c37c26.jpeg)

[2019-01-30 09:25] idanyc commented on #53
Update: I manually edited the ping command SamsungRemote.js, to `ping -t -c 1 [TV IP] `,
now I can only turn **on** the TV (The TV still doesn't show the pairing popup)

[2019-01-30 09:33] beninspain commented on #50
NielsLeenheer great work. Have you tried adding a second TV. I did and the remote part is only showing the first TV i added.

[2019-01-30 09:35] beninspain commented on #50
I also mapped the (i) button to menu instead of tools
            [this.hap.Characteristic.RemoteKey.INFORMATION]:	'KEY_MENU'
as tools doesn't do anything on my TV

[2019-01-30 09:40] NielsLeenheer commented on #50
I haven't tried that. I only have one Samsung TV. Given the structure of how this plugin is build I don't think it is a limitation of this plugin.  Maybe it is a bug in iOS 12.2 beta 1? Or perhaps a limitation of the remote widget itself?

[2019-01-30 10:33] robin1604 opened #55 "Application ID Videoland and NOS (Dutch apps)"
Hi,

Could anybody help me to find the application ID's from the Dutch apps "Videoland" and "NOS"?

Thank you so much!

[2019-01-30 11:55] greensouth commented on #50
It's interesting the "samsungctl" project. Instead of sending key press actions, they connect to the TV using websockets and can send commands for volume changing (passing values 0-100% instead of sending several keypresses). They have methods for changing to specific sources, but still have to try it at home (I'm sending commands from the office to my raspberry to annoy my wife who is at home, ch

[2019-01-30 12:09] JonoHaysom commented on #50
Agreed, I think we have the right base to follow their instruction set and the wrapper with the sync with this project. Cant wait for this to be updated!

[2019-01-30 13:06] tavicu commented on #50
Samsungctl uses the same method like my plugin.

The only difference is that i use secure websocket :)
That’s why pairing is needed!

In the new version i will give the possibility to disable secure websocket for those who didn’t update the tv to latest software which requires secure connection.

[2019-01-30 13:06] tavicu commented on #55
Hi.
Please read the readme file.

[2019-01-30 13:06] #55 closed

[2019-01-30 15:25] NielsLeenheer commented on #50
I've been going over the source of samsungctl and in addition to the websocket api, they also use UPNP MainTVAgent2 to have more control over input sources and channels, among other things.

So there is a different API that we can possibly use.

[2019-01-30 15:44] greensouth commented on #50
So glad of all of you, joining efforts to achieve the best. Wish I had more knowledge to help with it.

[2019-01-30 15:44] KYDronePilot commented on #53
I had a similar issue and updated the ping command to `ping -t 3 -c 1 [TV IP]`, which fixed the issue for me. There is currently a pull request open to fix this, but it has yet to be reviewed.

[2019-01-30 16:50] robin1604 commented on #11
what is the minimum version for Nodejs?
I have 8.2.1 and it is not working.

[2019-01-30 17:38] tavicu commented on #50
Is ios 12.2 stable enough to install it on my main device?

[2019-01-30 17:48] dibble9012 commented on #50
It definitely is a beta release, I’ve had safari crash and a few other weird bugs. Nothing that makes my device unusable, but just keep that in mind. Is it worth it for the the changes? Probably not, but I like testing betas so it doesn’t bother me too much. I have noticed that CarPlay connectivity is MUCH better on my Chevy Volt so that’s a plus!

[2019-01-30 17:49] NielsLeenheer commented on #50
I did, but I am experiencing some connectivity issues. Not sure if it is my provider, or the beta.

[2019-01-30 17:49] NielsLeenheer commented on #50
And I've tried MainTVAgent2, but it is not available on my television. So it stops there for me.

[2019-01-30 18:00] greensouth commented on #52
Same happens to me, K series :/

[2019-01-30 20:52] idanyc commented on #53
@KYDronePilot it is not the same... for me i can't put any value after -t
I am running it now with `ping -n 1 -c 1 [TV IP]`

I did manage to pair it with the tv - the problem was that I didn't realize the device name in the config file and in the TV itself have to match (maybe it is worth it to mention it common issues in readme) - after that i got the popup successfully

but it is working inconsi

[2019-01-31 00:58] bruno88rick opened #56 "Command to change the TV input"
The correct command to change, for exemple, the TV input to HDMI 1 is something like that?

{"name": "TV Boa Semana", "power": true, "command": "KEY_HDMI1", "mute": true},

Is it correct?

I tried it, but it didn't work...

Thanks for the plugin! It is very good!

[2019-01-31 11:22] greensouth commented on #50
I see so much potential to this (even not working for me because of pairing issues for my K series - 2016 model).

Wish if you could take a look at this, @tavicu . He has the perfect library for Samsung, you have the perfect Homebridge plugin. Why not working together?

[https://github.com/kdschlosser/samsungctl/issues/88#issuecomment-459302077](https://github.com/kdschlosser/samsungctl/issues/88#

[2019-01-31 11:55] kdschlosser commented on #50
I thought I would share the full key code list for samsung TV's.

I know this is going to make at least one user happy. There are discrete key codes for the sources.

[code]

[2019-01-31 12:57] kdschlosser commented on #50
I forgot a remote code.

start voice recognition
[code]

packet recieved over websocket letting you know that voice recognition has started
[code]

stop voice recognition
[code]

packet recieved over websocket letting you know that voice recognition has stopped
[code]

[2019-01-31 15:20] greensouth commented on #52
I have discovered that getting a token is not needed if you already selected "allow" in your tv. Can turn on/off, send commands, receive the status, etc.

Just put whatever token you want in your config file. I put "0000" in mine and working flawlessly. (FINALLY! YAY!)

[2019-01-31 15:50] tavicu commented on #53
Hi. Maybe some of the parameters are not available on Windows.

I am working on a new version of the plugin and i want to change the method that is used to see if TV is online.

[2019-01-31 16:05] tavicu commented on #52
When you will restart the Homebridge server it will ask you again to allow it :)

[2019-01-31 16:07] greensouth commented on #52
I have restarted like 10 times, and not asking to pair. A X-File?

[2019-01-31 16:14] tavicu commented on #52
I think even Samsung don’t understand their API ...

[2019-01-31 16:17] greensouth commented on #52
AHAHAHAHAHAH!!

That is exactly the conversation we have at the other project I posted here before !

[2019-01-31 17:19] bruno88rick commented on #56
This issue was answered in #18 and #37 . Thanks!

[2019-01-31 17:19] #56 closed

[2019-01-31 18:58] niklaswa commented on #52
You're right, this is unbelievable.. 😂
The 12.2 branch is working too (with input switching to HDMI!), haha

![img_1068](https://user-images.githubusercontent.com/7442307/52078006-7c289c80-2592-11e9-8a7c-900031a79f28.png)

The only thing, that doesn't work on my end, is turning the tv on and setting the volume :)

[2019-01-31 19:18] greensouth commented on #53
A little question as it was pointed by another developer.

Does the socket needs to be opened and closed continuously? is it possible to let the socket open and close it only when powering off the tv, and ask for the socket status instead of pinging the tv?

If it works, that would help removing the extra time until the TV stops returning the pings.

[2019-01-31 20:55] tavicu commented on #50
I had some time today to play with the new Service.

@NielsLeenheer i tried your branch but i didn't manage to get the speaker volume and remote inputs to work. Did you manage to make them work? :)

[2019-01-31 21:22] tavicu commented on #53
Ping command is very fast. ~5ms to respond

[2019-02-01 02:51] noltondyer commented on #50
### I can't get past this issue:

Initializing SamsungTizen platform...
/usr/local/lib/node_modules/homebridge-samsung-tizen/lib/SamsungAccessory.js:27
        this.service        = new this.hap.Service.Television(this.name);
                              ^

TypeError: this.hap.Service.Television is not a constructor
    at new SamsungAccessory (/usr/local/lib/node_modules/homebridge-samsung-tizen

[2019-02-01 03:33] kdschlosser commented on #50
I have a question for ya.. would it make it easier if I compiled samsungctl into an executable and provided a REST API to interface with the TV's?? the executable could be run as a daemon. It could be made to be secure by exposing the REST API only to the loopback adapter. so it can only be accessed from a program running on the same box. It would be pretty easy for me to put together something li

[2019-02-01 07:08] tavicu commented on #50
@noltondyer update homebridge to latest version

[2019-02-01 08:00] JonoHaysom commented on #50
Will you be likely to push an update today? can't wait to try the features above and beyond the Tv icon and power controls.

[2019-02-01 08:09] tavicu commented on #50
Nope since i want to rewrite the plugin almost from scratch. Probably the next week will be on a branch but in master will be released only when iOS 12.2 will go live.

Unfortunately from what i've seen until now the only feature that will be new is the input selector (and the icon of accessory).

[2019-02-01 08:50] JonoHaysom commented on #50
how do I install your fork @NielsLeenheer ?

[2019-02-01 09:20] NielsLeenheer commented on #50
I just copied over the `SamsungAccessory.js` file from the PR. That means when the official plugin is updated, my changes will be overwritten again. Also update homebridge to the latest version.

What in theory would work also is to remove the official homebridge-samsung-tizen npm package and reinstall like this:
`npm install -g NielsLeenheer/homebridge-samsung-tizen#television`

But again, this i

[2019-02-01 09:31] JonoHaysom commented on #50
Thanks, have now updated it and confirm volume etc is working :)

[2019-02-01 10:13] greensouth commented on #50
Errr... maybe I'm a bit dumb, but can't make the source list appear in Home APP. It's empty, and I'm using your configuration for sources @NielsLeenheer

[2019-02-01 10:22] JonoHaysom commented on #50
me either @greensouth. I've popped in the same config as above in @NielsLeenheer example but it doesn't show in the app. have restarted the home bridge instance too.

[2019-02-01 12:43] niklaswa commented on #50
@greensouth @JonoHaysom Had this issue too. After removing the bridge from HomeKit, closing the app, rebooting the Apple TV and repairing it again, it worked. (I think not all steps are necessary)

[2019-02-01 12:54] greensouth commented on #50
How you make the volume thing?

[2019-02-01 13:08] JonoHaysom commented on #50
are you sure you're using sources? when I change that to "switches" it works as button in the home app but still won't populate in the mobile "home app" screen for inputs on the TV settings page

[2019-02-02 12:35] gsanjaybansal opened #57 "Power on issues"
Hi, I am having a weird issue, when I turn the tv off, the status in HomeKit updates to off but then after a short while the status is on (the tv is still off at this point):

2019-2-2 12:13:23] [Lounge TV] Power: TV powered ON
[2019-2-2 12:13:28] [Lounge TV] Power: TV powered OFF
[2019-2-2 12:14:35] [Lounge TV] Power: TV powered OFF
[2019-2-2 12:14:49] [Lounge TV] Power: TV powered ON

(It was on

[2019-02-02 16:03] bruno88rick commented on #57
I'm having exactly the same weird issue right now too!

[2019-02-02 17:36] niklaswa commented on #50
@JonoHaysom Try using
[code]
and see, if it works for you. (on my K-Series it doesn't work..)

[2019-02-02 20:05] kdschlosser commented on #50
I figured I would let ya'll know that I added getting the state of the "Art mode" for Frame TV's as well as turning it on and off.

[2019-02-02 22:18] robin1604 commented on #51
If I command "homebridge tizen-apps" it will just run Homebridge and doesn't see anything about apps. Is there a fix for this problem?

Btw I love this plugin <3 I hope a lot more people will give this plugin a star 👍

[2019-02-03 14:12] kajz3reczka opened #58 "Unable to connect with samsung ue55ks9000"
Hi, I can reach connection with TV :(

Here is a debug log: https://pastebin.com/x9cvfDw2

Strange is that when Homebridge return message: "Pair failed. Make sure you click Allow on the TV!" I can turn tv off and on from home app. But it works occasionally.

[code]

and my config.json
[code]

[2019-02-03 16:15] jelvs opened #59 "SAMSUNG UE65NU7105 cannot launch apps"
Hey,

I already have my samsung paired and I can turn on/off the Tv. But I'm having a problem  launching apps, i tried already to initiate Homebridge  with tizen-apps as parameter but didn't succeed didn't show me any table :( so I used the ID given for the Youtube app, but didn't work, is someone in the same situation ? Thanks

[2019-02-03 16:40] #59 closed

[2019-02-04 13:37] tavicu commented on #58
Hi, your tv is not using the method to pair with a token.
It may use the PIN method.

Please get the demo from here and try to see if it works https://github.com/tdudek/samsung-remote-models-2014-and-newer

[2019-02-04 13:46] kajz3reczka commented on #58
@tavicu demo returns error. I got pin from tv, then I put this pin to textfield and clicked "Confirm" button.

[2019-02-04 23:15] danilorequena opened #60 "tv does not answer"
Appears in the home app, but clicking the buttons, nothing happens on tv

[2019-02-05 09:33] tavicu commented on #47
Ha! :)) i have a same problem with one of my routers :)) starting to fail because of too many connections!

Just ordered some new ones :P

[2019-02-06 00:07] sergiobaiao opened #61 "PING Output in log file"
Hi there,

Is it possible to add a config option to not show the PING outputs from the TVs? That make very hard to keep debugging homebridge with this plugin enabled. In my case, it shows messages even when the TV is powered on, like this:

[2/5/2019, 11:52:57 PM] [TV Suite Master] PING 192.168.0.21 (192.168.0.21) 56(84) bytes of data.
64 bytes from 192.168.0.21: icmp_seq=1 ttl=64 time=0.683 ms

-

[2019-02-06 17:24] JDogg016 commented on #50
Is anyone going to merge this into a final version?

[2019-02-07 11:35] ptfly commented on #57
I've made a possible fix you can try: https://github.com/tavicu/homebridge-samsung-tizen/pull/62

[2019-02-07 11:57] tavicu commented on #61
Hi.

I am working on a new version which will not use ping anymore!

[2019-02-07 11:57] #61 closed

[2019-02-07 12:00] tavicu commented on #35
Hi,

I know it was a long time since you opened this issue and promise i will resolve it.

i already did it in the new version that will be released once iOS 12.2 will be release.
Until then if you want i can help you changing the source files to work.
Let me know if you want.

[2019-02-07 12:03] marithpl commented on #35
Sure I wish.

[2019-02-08 12:47] JonoHaysom commented on #50
I think @tavicu is working on it @JDogg016. he is completely rewriting it.

[2019-02-08 13:06] tavicu commented on #50
Next week i will publish the branch and ask for help to test it :)

[2019-02-08 13:11] marithpl opened #63 "Problem with disposable token"
On the beginning I would mention that I connected homebridge with TV successfully.
But I observed that after power cut or restart a raspberry I can't use tizen plugin. Each time after restart or power breakdown I have to accept connection on TV.

It looks like I have new token each time or something. @tavicu Did you manage problem like this?

I installed this plugin on my friends TV and it works f

[2019-02-08 13:13] marithpl commented on #63
Steps which I made to install
1. Install plugin
2. Fill config.json without token.
3. Run homebridge and try to switch off tv to see token in terminal
(and accept monit on TV)
4. Fill config.json with token
5. Restart homebridge

[2019-02-08 13:21] tavicu commented on #63
I am working on a new version that will automatically store the token without needing to add it in config file.

Until the new version is release i will not offer support for things that will change :)
Hope you understand me.

If you will still have problems with the new version (3.0.0) after release, open an issue then and will see what will be able to do

[2019-02-08 13:21] #63 closed

[2019-02-08 13:32] marithpl commented on #63
Sure! I'm waiting for new version.

[2019-02-08 13:32] tavicu commented on #35
Hi, here you can see the changes that need to be done: https://github.com/tavicu/homebridge-samsung-tizen/pull/64/files

You will be able to add the `wait` parameter to switch in seconds.

It will run before `command` option and unfortunately as it is right now you will not be able to add multiple waits because the value of the switch is an object where the key is unique.

So even if you add it mo

[2019-02-08 13:38] tavicu commented on #60
Hi. Can't help since you don't even post debug logs.
Second, i am working on a new version of the plugin that will change a lot of things, including how the plugin communicate with TV.

Until the new version is released i will not offer support for things that will be changing.

[2019-02-08 13:38] #60 closed

[2019-02-08 13:42] tavicu commented on #53
The new version i am working on will use a different method to check if TV is online.

But still, you will get the false positive because the TV will not turn OFF right away, it will go into a sleeping mode for ~15 seconds.

I have also checked the option to listen when the socket close but it will also close after the 15 seconds.

And the biggest problem for why i am closing the socket is because

[2019-02-08 13:42] #53 closed

[2019-02-08 13:43] tavicu commented on #52
I will close this Issue since the new version i am working on will not require to add the token in config file.

[2019-02-08 13:43] #52 closed

[2019-02-08 13:47] tavicu commented on #51
in the debug mode the response is correct!
Until the new version is released you can change the 425 line from `SamsungRemote.js`
Before: `this.device.debug(response);`
After: `this.device.debug(JSON.stringify(response));`

Then start the server again in debug mode and instead of `[Object]` you will see more info.

[2019-02-08 13:47] #51 closed

[2019-02-08 13:48] #47 closed

[2019-02-08 16:42] ivnDeb11 commented on #58
Hi! I'm Spanish, sorry if my English is bad :p I have the same problem, with HomeBridge my Samsung KS7000UXXC no return PIN, but with this sample: https://github.com/tdudek/samsung-remote-models-2014-and-newer, yes... but returns error when I click confirm to pair.

You have any idea?

Log HomeBridge

2019-2-8 14:10:57] [Comedor TV] Trying to pair the TV
[2019-2-8 14:10:57] [Comedor TV] [DEBUG] Pa

[2019-02-09 12:14] sderuiter opened #65 "UE40JU6400 uses PIN authentication"
Hi, unfortunately my TV uses PIN authentication (the [demo](https://github.com/tdudek/samsung-remote-models-2014-and-newer) version is able to access the TV).

I've read that you can't test this method yourself (assuming you don't have a TV with this feature), but do you have a thought on which homebridge plugin might work with the PIN method?

Thank you.

[2019-02-12 16:55] Dean151 commented on #50
Already have a setup to test that, using #54 poc.
(although my tv UE49KU6510 doesn't send back a token, it's working okay!)
I'm thrilled about testing your version as soon it gets released ;)

[2019-02-12 18:19] skop1986 commented on #65
https://github.com/kkapitan/homebridge-homesung#readme

[2019-02-13 08:47] tavicu commented on #65
Hei,
As @skop1986 you can try that plugin :)

I have prepared the code so in the future i will be able to implement the pin method too. What will be difficult will be testing since i don't have a device that use that method.
But who knows, maybe someone will donate one :P

[2019-02-13 08:49] tavicu commented on #50
I will try to release the branch this weekend.
I had some problems with my router (too many connections) and had to replace it.
i lost two days because of this trying to figure out why the WoL didn't work :))

[2019-02-13 08:54] skop1986 commented on #65
I can test on models samsung 2015 UE40JU7000U

[2019-02-13 08:55] tavicu commented on #65
As soon as i will finish the new version and have some spare i will take a look and will see where it goes :)

[2019-02-13 09:11] sderuiter commented on #65
Thank you. I can obviously test with a model UE40JU6400. The abovementioned plugin does work, besides some TV Power issues.

[2019-02-15 08:26] roe1974 opened #66 "older TV models from samsung ?"
i have a problem with my homebridge plugin for samsung.... (samsungtv-control)
Does this plugin support 2013/2014 TV models ?

Richard

[2019-02-15 13:54] JonoHaysom commented on #50
can't wait!

[2019-02-18 00:21] wroblewski6 commented on #50
i am waiting also for testing

[2019-02-18 19:56] tavicu commented on #50
Hei!
Is anyone having problem with wake on lan over WiFi?
I'm on version 1262 and it stopped working. The TV is turning on over WiFi only the first time after a hard reset, then nothing.

It's working ok over wired cable.

[2019-02-18 23:22] jalexc commented on #50
It’s working fine here on version 1262 over Wi-Fi.

[2019-02-19 11:53] JonoHaysom commented on #50
working find here.

[2019-02-20 14:49] ivnDeb11 commented on #58
Hi @tavicu this problem is solved? Thanks!!

[2019-02-21 12:20] tavicu commented on #50
Hey,

After hard working i have an early version of the plugin :)
You can find it on this branch: https://github.com/tavicu/homebridge-samsung-tizen/tree/homekit-television

And here is an example of config:
[code]

Everything you set on the root config it will also propagate to devices.
If you want per device:
[code]

[2019-02-21 12:24] tavicu commented on #50
There are some console.logs in files, if it bothers you can remove them :)

I'm still working to implement logging and debugging.
But at is it right now it should work like the v2.

If you find any problem please post it in the PR, not here: https://github.com/tavicu/homebridge-samsung-tizen/pull/67
I will try to replicate and fix it :)

I will not offer support for things like: how do i install i

[2019-02-21 12:29] wroblewski6 commented on #50
So I have to install again your plugin or install different plugin or only change the config file settings ??

[2019-02-21 12:39] tavicu commented on #50
`npm install -g --unsafe-perm git://github.com/tavicu/homebridge-samsung-tizen.git#homekit-television`

[2019-02-21 12:41] niklaswa commented on #50
@wroblewski6 You've to stop Homebridge and uninstall the previous version of the plugin with something like `npm remove -g homebridge-samsung-tizen`.
And installing the other branch works like this: `npm -g --unsafe-perm install git+https://github.com/tavicu/homebridge-samsung-tizen#television`
Then you have to change the config to the new structure mentioned above and you can start Homebridge aga

[2019-02-21 12:54] tavicu commented on #50
Don't think you need to uninstall first :) npm will do everything.

And i will say only one time for people that don't know, you need to be on the latest version of homebridge and phone must be on iOS >= 12.2 (right now is in beta)

[2019-02-21 13:10] #57 closed

[2019-02-21 13:10] #66 closed

[2019-02-21 13:13] #65 closed

[2019-02-21 13:13] #58 closed

[2019-02-21 13:14] #35 closed

[2019-02-21 13:35] tavicu commented on #50
**make sure to update node to a newer version. minimum version is v10.0.0**

[2019-02-21 13:54] jeremybdk commented on #50
Thanks working better with node v10.x :)
It seems that the new Apple Tv Remote on iOS 12.2 Beta 3 also supports TVs. If you have the remote configured you can either control the Apple TV or the TV over homebridge/homekit. If wonder if it's possible to map the buttons of the new Apple Remote with the TV.

![cdtlt4r](https://user-images.githubusercontent.com/1963030/53173709-81549680-35e8-11e9-9008-

[2019-02-21 14:04] tavicu commented on #50
It's already implemented and working but i didn't test it from the app. Only from the control center https://www.payetteforward.com/wp-content/uploads/2017/06/how-to-add-apple-tv-remote-to-control-center-iphone-1235x1080.jpg

I think it should work from the App Too. Don't know if Apple implemented two methods. i will take a look :)

[2019-02-21 18:52] wroblewski6 commented on #50
After update to new node I can turn on off my TV I cen choose input HDMI1 ,2,3, or next HDMI with this commends   ('HDMI',                             'KEY_HDMI'),
        ('HDMI 1',                           'KEY_HDMI1'),
        ('HDMI 2',                           'KEY_HDMI2'),
        ('HDMI 3',                           'KEY_HDMI3'),
        ('HDMI 4',                           'KEY_HDMI4'),

[2019-02-21 19:13] tavicu commented on #50
Try to remove cached accessories with this command: `rm -rf ~/.homebridge/accessories/cachedAccessories`

Also try a restart of your iOS device.
There is no setting for this and it should work "out of the box" :)

[2019-02-21 20:03] wroblewski6 commented on #50
is seems that deleting my harmony hub settings from config helped and now I can see my samsung tv remote in apple remote app :D

[2019-02-21 20:06] wroblewski6 commented on #50
Did I research correctly , there is no option to select HDMI 1,2,3,4 only change to next HDMI ??

[2019-02-21 20:12] tavicu commented on #50
Yeah, unfortunately the great big company Samsung didn't give us the possibility to select a HDMI port ...

[2019-02-21 20:20] wroblewski6 commented on #50
So I have to check this option . Is there option to make long press of some button, on my STB I need to long press to get back button to work ?? or is it possible to customize those 4 buttons in apple remote app of my TV  ?? And one more question is it normal that when I use remote on apple remote app to control my samsung TV it is working but lag is apron 3 seconds when using my HDMI connected de

[2019-02-21 20:53] tavicu commented on #50
Lag is because of your network. It may be a large lag especially if you are not on the same WiFi and you are making requests from remote (outside of network, cellular network).

There is not an option for long press, i want to implement it in the future.

What 4 buttons you are telling? You lost me here :D

[2019-02-21 21:04] tavicu commented on #50
I have found out how KEY_HDMI works. If you press one time it will switch to first hdmi, pressing again will switch to hdmi 2 and so on.

The problem is that it will switch to HDMI that is active. So if your console is off it will not see the HDMI as available and will not power on the console.

So right now the best option is by sending a list of commands with the source like in the previous comm

[2019-02-21 21:05] wroblewski6 commented on #50
i have on lag if I use app like Netflix and use samsung menu but when I use my HDMI devices  Apple TV/ VU+ stb which are controlled by Samsung Smart remote I have 3 seconds lag,

Long press would be great so nice that you are planing to implement.

I was talking about those 4 buttons

![img_2364](https://user-images.githubusercontent.com/37984470/53201592-b383e980-3624-11e9-8919-b62434afd09d.PNG)

[2019-02-21 21:11] tavicu commented on #50
On the latest beta remote looks like this (https://imgur.com/a/iLnmstZ) and all available keys are set. Will see in a future beta if apple will allow us to use more options. Like numeric pad :)

[2019-02-21 21:12] tavicu commented on #50
On the latest beta remote looks like this (https://imgur.com/a/iLnmstZ) and all available keys are set. Will see in a future beta if apple will allow us to use more options. Like numeric pad :)

[2019-02-21 21:15] tavicu commented on #50
P.S. @NielsLeenheer you can also use command repeater.
`{ "name": "Apple TV", "command": [ "KEY_SOURCE", "KEY_LEFT*3", "KEY_RIGHT*3", "KEY_ENTER" ] }`

[2019-02-21 21:52] wroblewski6 commented on #50
after update I have the same like yours ,

All im all homekit tv remote seems to be very useful and it would be great improvement for my Homekit setup so thanks to you. I would like to remind that new samsung tv will have airplay 2 support but Homekit will not be available on samsung so your plugin will fill this gap for longer time.

[2019-02-21 23:14] tavicu commented on #50
Yeah, i have read that only 2019 and some 2018 TV's will get update for airplay 2. Will see when Samsung decide to show us something :d

I will probably push an update to have only the power switch without integration with remote control.

[2019-02-22 02:16] jalexc commented on #50
Hi! Anyone with 2 TV's having issues with this new branch?
I'm on iOS beta 3 and have 2 Samsung TVs (2016 & 2017) and they are showing up on Home.app and I can switch inputs etc., but only 1 (2017) shows up on remote widget. And none on Remote.app.

[code]

[2019-02-22 03:21] stephenmd commented on #50
Hey... I have the remote working but for some reason my homebridge terminal keeps saying:
getActive true
getInput then undefined over and over again

[2019-02-22 04:02] JonoHaysom commented on #50
great stuff @tavicu! The TV "tile" in the home app shows the app now open and playing which is great! The inputs are also populated and easily selected from the Home app!

For some reason though within the "remote" app keys don't seem to be mapped correctly. my enter key and navigation keys are fine, but the back button and "i" button aren't quite right. the 'i" button brings up the app draw on th

[2019-02-22 05:13] tavicu commented on #50
@jalexc give it some time. It’s still a beta ios and i’ve seen that sometime it takes more time to appear. For inputs too! And apple didn’t linked it to Remote app yet.

@stephenmd already said that are some debug messages in the console. I will push an update without them.

@JonoHaysom make sure to get the branch again. I have pushed an update last night and keys are connected like this:
[code]

[2019-02-22 06:22] kdschlosser commented on #50
@wroblewski6

yes the API is designed to long press a button. The program needs to make a concession for it. some kind of an option with a length of time to hold the button for.

this is the standard command sent over the websocket connection.
[code]

This is what would need to be sent to press and hold the key down
[code]

and this would be the command to let go of the key.
[code]

[2019-02-22 08:03] tavicu commented on #50
The API of samsung supports it but it was not implemented in the plugin yet. There is no option to change Cmd as it is right now in the plugin!

It’s on my todo once i finish this version

[2019-02-22 16:05] mmmrvn commented on #58
Hi @tavicu, how exactly do you run https://github.com/tdudek/samsung-remote-models-2014-and-newer? Completely newbie here using a Mac

[2019-02-22 16:29] tavicu commented on #58
That’s not my repo. Ask there please

[2019-02-22 16:31] mmmrvn commented on #58
I know but the owner seems to have been inactive for a year now, and there aren't any instructions for beginners on how to run his demo. Since you recommended using it, I thought you might be able to help me out

[2019-02-23 14:06] JonoHaysom commented on #50
general comment.
is anyone else having issues with cabled WOL? my TV doesn't respond and interestingly it seems like it completely drops the network once its in "standby". anyone else seeing this?

[2019-02-23 14:18] tavicu commented on #50
Yup ... same problem! It stopped working over wifi. If i connect it with lan all good!
I will schedule an appointment with Samsung support

[2019-02-23 15:47] JonoHaysom commented on #50
ok, its definitely something in the homebridge implementation. I can raise the TV from standby WOL commands via the Mac App iNet... so I wonder where the issue is in HomeKit libraries.

[2019-02-24 10:42] pat4020 opened #69 ""off" state issue"
Hi, I have just installed the plugin at its latest version and paired my Q9 successfully without any issues.
However, I do have some problems when switching off the TV. Turning the TV off,  doesn’t matter if I do that via Homekit or the remote control, does toggle the Homekit switch to “off”, but after a short while (approx.. 20 seconds) it comes back “on” again, waiting another minute it goes bac

[2019-02-24 11:19] stoplis commented on #50
I've just put iOS 12.2 on my device so I thought I'd try this out but I'm getting an error:
[code]
I've checked and I've got the latest version of HomeBridge. Any help would be appreciated.

[2019-02-24 11:20] jeremybdk commented on #50
@stoplis you should update node to version 10.x

[2019-02-24 11:20] stoplis commented on #50
Thanks, I'll try that.

[2019-02-24 11:23] niklaswa commented on #50
@tavicu Hm, is it possible to use another function to get it working on node 8.x? Because I'm using an hassio-addon where I'm not able to update node without solving 20 unsatisfied constraints.. 😄

[2019-02-24 11:49] stoplis commented on #50
Thanks, that fixed it.

The only problem I have now is that I have 2 switches from the non HomeKitTV version still showing up. They are no longer in my config file and I've tried `rm -rf ~/.homebridge/accessories/cachedAccessories` to make sure they aren't just cached. Any ideas?

[2019-02-25 18:08] tavicu commented on #50
I have pushed a version that should work with lower versions of NodeJs.
Also removed some console logs

[2019-02-25 18:13] tavicu commented on #69
Hei! That's very strange. We can try to add some debug and see if the plugin starts the "party mode" or something else :)

You will only have to edit one file following my instructions. But first let me know which version of plugin you use (using this command: `npm -v homebridge-samsung-tizen`) and if you are willing to do it :)

[2019-02-25 19:05] marithpl commented on #50
What's the best command to add TV (DTV) as a INPUT?
Now I have Spotify, Netflix as Input but im not able to switch back to TV

[2019-02-25 19:12] tavicu commented on #50
That's what i'm using right now:
[code]

[2019-02-25 19:16] marithpl commented on #50
I pasted yours input and home bridge shows only the Live TV

[2019-02-25 19:32] tavicu commented on #50
don't know why but sometimes it gets longer to updates the inputs

[2019-02-25 19:43] marithpl commented on #50
But I have something like this - but it's not working

![img_0180](https://user-images.githubusercontent.com/25366097/53363927-f81dc680-393d-11e9-8dec-d38f97ca5165.jpg)

[2019-02-25 20:01] tavicu commented on #50
Pushed a new update. Now you can hold a key :)

`KEY_VOLDOWN*5s` where 5s represents time in seconds. In this case 5 seconds.

The time it's only in seconds. So if you want one minute and a half you will use `KEY_VOLDOWN*90s`

[2019-02-26 13:55] JonoHaysom commented on #50
@tavicu any chance you can try any other implementation of WOL command?

[2019-02-26 14:06] tavicu commented on #50
Install this plugin as global https://www.npmjs.com/package/wake_on_lan
`npm install wake_on_lan -g`

Then try to wake the TV with command like this (replacing with your ip and your mac address):
`wake -a 192.168.1.255 20-DE-20-DE-20-DE`

If you do have the same error try the command only with the mac. Like this: `wake 20-DE-20-DE-20-DE`

Let me know if it works, which method works, or if you have

[2019-02-26 14:49] JonoHaysom commented on #50
Thats working!

HaloMini:~XYZ$ npm install wake_on_lan -g
/usr/local/bin/wake -> /usr/local/lib/node_modules/wake_on_lan/wake
+ wake_on_lan@1.0.0
added 2 packages from 4 contributors in 0.339s
HaloMini:~ XYZ$ wake -a 192.168.1.190 d8:e0:e1:6a:b9:0b
sending magic packet to d8:e0:e1:6a:b9:0b
options {"address":"192.168.1.190"}
done sending WoL packets

is this the same implementation you're using? i

[2019-02-26 14:54] tavicu commented on #50
Very strange. I'm using the same command in the plugin! Can you try:
`wake -a 192.168.1.190 -p 9 d8:e0:e1:6a:b9:0b`

[2019-02-26 14:57] JonoHaysom commented on #50
wake -a 192.168.1.190 -p 9 d8:e0:e1:6a:b9:0b seems more reliable @tavicu

[2019-02-26 15:07] tavicu commented on #50
Try to uninstall the plugin then install it again. It may be possible to have an older version of the wake_on_lan plugin.
You can check this by going into the global folder (/usr/local/lib/node_modules/homebridge-samsung-tizen it's on my server) then in node_modules/wake_on_lan and check in package.json what version is installed.

You can also run `npm install` in `/usr/local/lib/node_modules/home

[2019-02-26 15:39] JonoHaysom commented on #50
I think that should do it.. you can see the last WOL command. then my uninstalls and reinstall and load my launchutils for persistent homebridge

HaloMini:~ xyz$ wake -a 192.168.1.190 -p 9 d8:e0:e1:6a:b9:0b
sending magic packet to d8:e0:e1:6a:b9:0b
options {"address":"192.168.1.190","port":9}
done sending WoL packets
HaloMini:~xyz$ npm uninstall -g homebridge-samsung-tizen
removed 57 packages in 0

[2019-02-26 15:45] JonoHaysom commented on #50
its v1? no new updates?

{
  "_from": "wake_on_lan@^1.0.0",
  "_id": "wake_on_lan@1.0.0",
  "_inBundle": false,
  "_integrity": "sha1-UWUZ7lq0GmUteci9VwT85uzUzbI=",

[2019-02-26 16:07] tavicu commented on #50
1.0.0 is the latest version for wake_on_lan plugin.

Still not working from the plugin?

[2019-02-26 16:12] JonoHaysom commented on #50
Nope, it’s so weird. :(

It says “no response” under the TV in the iOS and MacOS Home app.

Yet the iNet app will wake it every time even when the plugin gets a “no response”.

Is there a way to manually update it to that “wake -a 192.168.1.190 -p 9 d8:e0:e1:6a:b9:0b” argument?

Best,

Jonathan

[2019-02-26 16:50] stoplis commented on #50
I haven’t been able to do any of these checks yet but I also can’t wake on LAN (I’m using a wired connection). It worked on the non HomeKit-TV version.

[2019-02-26 16:54] JonoHaysom commented on #50
Good to see it’s not unique to me 👍🏼

Best,

Jonathan

[2019-02-26 17:07] tavicu commented on #50
Ok! I have an ideea from where it can be! I will push an update in 1-2 hours when i get home! I’ll let you know

[2019-02-26 17:32] pat4020 commented on #69
Hey, I would appreciate your help. I ran the command and got `6.8.0` in return …

[2019-02-26 19:37] JonoHaysom commented on #50
Fixed! :) excellent community teamwork.

what was the blocker?

[2019-02-26 19:41] marithpl commented on #50
What's the command for update?
`npm install -g --unsafe-perm git://github.com/tavicu/homebridge-samsung-tizen.git#homekit-television` ??

[2019-02-26 20:04] tavicu commented on #50
@JonoHaysom some update i've done that is required for servers that are hosted on windows. I have found another plugin that as a better implementation of WoL. i will test it today and if i think it's better i will change it :)

@marithpl correct!

[2019-02-26 20:14] stoplis commented on #50
I’ve updated but it still won’t wake for me.
[code]

[2019-02-26 21:56] kdschlosser commented on #50
Here is a rock solid Wake On LAN i wrote for python. perhaps it might be able to be ported. IDK. It will provide some useful information. This also provides a mac address detection that I have found to be 100% as well. You do the detection one time when initial pairing is done. (detection only works when TV is on)

[code]

[2019-02-26 22:37] tavicu commented on #50
@kdschlosser thank you. i will first try to use this plugin https://github.com/gigafied/wakeonlan
I know it had a very old last update but it works and it's the only plugin that get the broadcast address from every network interface and send the WoL command on all.

I will push an update tomorrow

@stoplis any errors? something in the console? I have pushed a new version right now where it will lo

[2019-02-26 22:49] stoplis commented on #50
@tavicu It looks like no commands are being sent via control center. I get stuff in the console when I change inputs through the home app, but nothing from control center.

[2019-02-26 22:54] tavicu commented on #50
There is probably a bug in iOS since it's a beta. Try restarting your device.
Also try removing the cachedAccessories. `rm -rf ~/.homebridge/accessories/cachedAccessories`
**Very important! not the persist folder! only cachedAccessories**

It works without a problem for me.
For someone else from here it sends the wrong commands when pushing a button :))

[2019-02-26 22:59] stoplis commented on #50
@tavicu Thanks for the help. It seems to be an iOS bug, I removed my HomeBridge from the Home app and readded it and it is now all working again. The joys of beta software. WoL is definitely working now as well, my TV had been off for about an hour before I updated the plugin and it woke it up straight away. Great work.

[2019-02-27 05:00] kdschlosser commented on #50
OK here is a new version which will send out the broadcast on every IP on every adapter

I tested this with Windows and it works. NIX OS's need to be checked still.

I also added a small test to it. so if you have python installed you can just run the code.
You will need to have the TV turned on at first. then run the script and enter the IP of the TV. Once the scripts asks if you want to send the

[2019-02-28 19:25] tavicu commented on #50
Thank you @kdschlosser . Unfortunately i don't have the time to change the code for NodeJs. And it's not worth it since there are many plugins out there :D

I have just pushed a new update which use another plugin for WoL which sends the command on all networks :)

[2019-02-28 19:54] kdschlosser commented on #50
@tavicu

It's there if you are still having issues. that is why I provided it. I know the code works and it can be used as a reference if needed. I know how frustrating it can be when you rely on another library\package and it simply does not work or stops working after an update (the reason why I wrote the above). It now does send the packet out on all networks. It's funny that you mentioned that

[2019-03-01 18:40] Luftloch80 commented on #65
I can also Beta Test the Pin Method for you. Looking fwd

[2019-03-02 11:45] MBarti opened #70 "Make it work with 2014-2015 (H/J-series) Tizen TVs"
The plugin does not work on early-Tizen TVs (H/J-series from 2014-2015), due to their slightly different protocols.

Luckily, this issue (described in detail here https://github.com/Ape/samsungctl/issues/22 ) has been thoroughly investigated and solved.
There's a full python library for the alternative pairing, encryption and send_command:
https://github.com/eclair4151/SmartCrypto

It'd be amazing

[2019-03-02 11:49] #70 closed

[2019-03-02 11:49] MBarti commented on #70
Just noticed it's a duplicate of another issue here.

[2019-03-02 11:50] MBarti commented on #65
Early-Tizen TVs (H/J-series from 2014-2015) use slightly different protocols. Luckily, this issue (described in detail here Ape/samsungctl#22 ) has been thoroughly investigated and solved.
There's a full python library for the alternative pairing, encryption and send_command:
https://github.com/eclair4151/SmartCrypto

It'd be amazing to have those TV work with your plugin, especially with the iOS

[2019-03-02 12:58] JDogg016 opened #71 "I think I need a pin"
Please understand that some TV's are not compatible even if the endpoint is working. Some use a different type of pairing (with PIN) that it's not supported at the moment.

I have a UN48JU6400 and I don’t think it has Tizen although I can get an endpoint by going to the IP. I can’t however get a token.

[2019-03-02 20:51] #71 closed

[2019-03-04 16:31] marithpl commented on #50
I know #television branch is still in beta but yesterday it stoped working.
Now Im able to WOL via Lan but i cannot switch it off beacuse its shows off status all the Time. Have anyone this issue?

[2019-03-04 16:42] tavicu commented on #50
Your tv is not responding to api! Try force reboot it! While tv is on, hold power key for a few seconds until you see Smart Tv bla bla bla

[2019-03-04 17:20] marithpl commented on #50
@tavicu Next beer for you!

[2019-03-10 14:28] tavicu commented on #50
New update. With this version i tried to remove unnecessary requests to TV since after too many the TV will stop responding. Like happend to @marithpl
- Different method to check if TV is on. Instead of HTTP request will use a plugin which checks if port is and ip is up (something like ping)
- Inputs are now stateless. Even if you select an input it will not remain checked.

[2019-03-10 14:28] #69 closed

[2019-03-10 16:59] kdschlosser commented on #50
@tavicu

have you found this to bee an actual problem. and have you narrowed down what years/models are donig it.

I think I may be having this same issue with someone that is running a 2015 TV.

I have also experienced an issue where the TV's if queried to quickly after they power on will cause the TV to turn off the network. I have seen this in older TV's < 2014

[2019-03-10 17:19] tavicu commented on #50
all models that support this plugin. it's a problem from Tizen Os

Don't think a query will break your network :D it might be something else.
The new version of the plugin checks the TV every 30 seconds by default.
This can be set to off with `"refresh": false` in config.

But please understand that this is for the version that is under development (v3), not the current version (v2).

[2019-03-13 22:40] razvanu opened #72 "i have some error"
Whrn trying to run it:

"platform": "SamsungTizen",
                        "deviceCfgs": [{
                                "name": "Livingroom TV",
                                "ip": "192.168.x.y",
                                "token": "",
                                "mac": "aa:bb:cc:dd:ee:ff"
                        }]

Loaded plugin: homebridge-samsung-tizen
/usr/local/lib/node_modul

[2019-03-13 23:09] chaingarden commented on #72
This may or may not solve the issue, but tavicu mentioned that you no longer need the “token” field in the JSON with this branch. It’s handled under the hood now.

[2019-03-14 02:24] tavicu commented on #72
You need to update your node version! Also, it’s not deviceCfgs! Look in readme for examples!

[2019-03-14 03:50] larrydavidow opened #73 "ks8000"

[2019-03-14 03:50] #73 closed

[2019-03-14 03:54] larrydavidow opened #74 "Pair failed. Make sure you click Allow on the TV!"
I have a KS8000 model TV that's having the same issue reported by kajz3reczka where Homebridge reports an error saying "Pair failed. Make sure you click Allow on the TV!".

I get the prompt on the TV to allow the connection, however a token is not passed back to Homebridge.

Apparently, you mentioned the TV is using the PIN method vs the TOKEN method.  You recommended running a demo that doesn't m

[2019-03-15 12:06] #72 closed

[2019-03-15 12:09] ivnDeb11 commented on #74
I have the same problem, please if you solve it, comment, thank you!

[2019-03-15 12:15] tavicu commented on #74
There is nothing to solve! Right now the plugin is not compatible with PIN method.

That demo i posted it so you can check if your TV works with PIN. If it does, then my plugin is not compatible.

[2019-03-15 12:16] ivnDeb11 commented on #74
Okay thanks. Some other similar plugin? :(

[2019-03-19 14:11] Michel8787 commented on #50
Is there a release date planed for v3? :-)

[2019-03-19 14:29] Dean151 commented on #50
I think it will *at least* wait for iOS 12.2 release :)

[2019-03-19 14:37] tavicu commented on #50
Yup, release of 12.2! Which i think is in on week :)

[2019-03-19 15:34] Michel8787 commented on #50
Oké ! And is it a stable version? I love your work guys!
Would you share some print screens how it looks in Homekit?
Thanks!

[2019-03-19 18:01] JDogg016 commented on #50
Any chance support for the older Tizen models makes it into the final release of v3?

[2019-03-19 21:26] tavicu commented on #50
Hi. At the moment, no. It's hard for me to test it since i don't have an older TV. And my free time was very limited in the latest months :D

[2019-03-25 19:38] Rens93 commented on #50
Just updated to iOS 12.2
Can you make an update so we can use all the new feature without tweaking by us selves?

[2019-03-25 19:40] Michel8787 commented on #50
Pleaasseee update to the v3 version..
🥺🥺

[2019-03-25 20:34] tavicu commented on #50
I will push an update today with more improvements.
But the update will go live in one week. In this time people will have time to update their iOS devices and i will also update the readme file since a lot of things changed!

Until then follow #67 PR. There you will find info how to install and use v3 until it goes live.

[2019-03-25 21:40] greensouth commented on #50
Anyone having this when trying to install from this branch?

` sudo npm install -g --unsafe-perm git://github.com/tavicu/homebridge-samsung-tizen.git#homekit-television
npm ERR! code 128
npm ERR! Command failed: /usr/bin/git clone --depth=1 -q -b homekit-television git://github.com/tavicu/homebridge-samsung-tizen.git /root/.npm/_cacache/tmp/git-clone-ddc91817
npm ERR! fatal: could not create leadi

[2019-03-26 06:57] greensouth commented on #50
Good morning, @tavicu, I have been out of this development since I uninstalled the beta from the device. Once I installed the official release, a few questions came to my mind when tried to install this branch after a few weeks:

- The turn on/off thing went out sync. Don't know how, but a few minutes after using the plugin, when the TV was switched off, Homekit said it was ON, and the opposite. H

[2019-03-26 08:20] tavicu commented on #50
Hei @greensouth
- If this happens all you have to do is wait until the auto refresh (default it's every 30s) is done.
- It's normal. Unfortunately right now Apple doesn't have this option. Maybe in the future :)
- They should show as Inputs in the main accessory, not as separate accessory. Sometimes it takes a few restarts of Home app to update.

From what i've seen until now i consider the Televi

[2019-03-26 11:12] robbinonline commented on #50
What a great plugin, first install the normal version and now the lates beta.
Only 2 problems, I can turn on or turn off the tv only I got no token.

And the input stays empty, this is my config fie:

`    {
      "platform" : "SamsungTizen",
      "devices": [{
        "name": "Televisie",
        "ip": "10.0.0.100",
        "mac": "f8:3f:51:72:68:dd",
        "token": "",
        "inputs": [

[2019-03-26 11:22] tavicu commented on #50
Token it's not required in config file. Now it's saved in a config file on the server and everything it's done automatically :). In my case the path is `~/.homebridge/accessories/samsung-tizen.json`

Right now Apple has Its own mind on implementation of inputs. I don't know why but sometimes it takes some restarts of Home app to show them. Sometimes they appear after some time ...
Until now i did

[2019-03-27 09:33] #74 closed

[2019-03-28 08:30] C0nquistadore commented on #50
I think I am having a similar problem like @greensouth. Somehow the Home app says, the TV is turned on, even though it is turned off. However this only happens when I turned the TV off using a homekit scene. Then the TV is off, but is still reachable using ping/port check which is probably why the home app shows it's on.
If I turn it off using the TV remote, it's not reachable anymore and shows th

[2019-03-28 09:21] C0nquistadore commented on #50
Okay, maybe I have to investigate a bit more by observing the logs. Somehow stuff like 'TV is already OFF' is not logged anymore. Is that by design? It really helped to ensure the homekit automations like leaving/arriving home work properly.

[2019-03-28 10:09] C0nquistadore commented on #50
I think that the scene that is triggered when I leave home is not working correctly. It contains all devices that should be turned off. So if all these devices are turned off the scene should show it's switched on. However one accessory is not responding, therefore the scene is marked as off and whenever I trigger it manually it responds with failed. Maybe that is also causing some unwanted behavi

[2019-03-28 21:51] SDRacerR1 opened #75 "code"

[2019-03-28 21:51] #75 closed

[2019-03-30 06:46] rafbc commented on #41
Mine uses PIN. +1 to get the implementation with PIN support :P

[2019-03-30 13:47] franciswernet commented on #50
Hi good morning, I was able to get my TV to show up in homekit, how can I setup the inputs?

[2019-03-30 16:36] tavicu commented on #50
https://github.com/tavicu/homebridge-samsung-tizen/issues/50#issuecomment-465979785

[2019-03-30 21:51] franciswernet commented on #50
Thank you! I managed to configure what I needed. I will mostly use it to automate stuff. One thing I noticed is that on both my ipads its saying not responding and not on my iphone. What could be the issue

[2019-03-31 19:55] kdschlosser commented on #50
I wanted to share some information. I do not know if you have gotten the power to successfully turn off 100% of the time on all of the models of TV's. This is what I have found in respect to that.
Not all of the TV models will use the KEY_POWEROFF to shut off the TV. and the same goes for the KEY_POWR.

I set up a detection process. so the first time the TV is shut off it will try the first power

[2019-03-31 20:37] tavicu commented on #50
The TV goes into a sleep mode for 15 seconds after you turn it off. The code is adapted to this scenario.

If 15 seconds passed it will start with WoL. If it's in the 15 seconds period it will send the KEY_POWER through socket connection.

[2019-03-31 20:58] kdschlosser commented on #50
there are M series TV's that use the KEY_POWEROFF and M series TV's use the websocket style of connection.
I have sent a stream of WOL packets at a TV for 60 seconds after they have been powered down and the TV did not turn back on. once i sent a stream of them for 2 minutes it did at about the 1:30 mark.
stream = 3 packet bursts every 2 seconds. You may not have come across TV's that act like thi

[2019-04-01 14:48] Michel8787 commented on #50
When does the release come?

[2019-04-01 15:34] Rens93 commented on #50
I hope today!

[2019-04-02 00:49] dibble9012 commented on #50
Has anybody gotten inputs (HDMI) to work on a QN49Q6FNA? I have had success with Netflix since it's just a direct app identifier, but not HDMI ports. I have tried "KEY_SOURCE", "KEY_HDMI", and "KEY_HDMI1 through 4" with no luck. It works in the Smartthings App but I refuse to use that.

 Also cannot find a way to use "Ambient" mode, where the TV is basically a picture frame.

[2019-04-02 01:43] Yamch commented on #37
Sending commands such as HDMI_1 does not work. Thank you

[2019-04-02 06:09] apexad commented on #50
Does anyone who knows the Samsung Tizen API know if there is a way to get what the active input is?  The current PR seems to work fine if it is an app, but what about if it is a device plugged into the TV?

[2019-04-02 06:35] tavicu commented on #50
@dibble9012 this is how i have my inputs for HDMI
[code]

@apexad nope, there is not any api to get the input or anything else (volume, channel, etc). It's very limited.
In the past i checked and you can actually flash Tizen and make your endpoints where you can get all the info. But it takes time and it's not worth it for me.

The plugin i developed right now it's doing more than i want :)

[2019-04-02 06:38] Michel8787 commented on #50
Today release please? 😳

[2019-04-02 06:39] tavicu commented on #50
In this PR #67 you can find informations how to install the v3 branch.

The code is ready but i cannot release it without a readme file updated.
And unfortunately i will not have time today to do it.

[2019-04-02 06:41] Michel8787 commented on #50
Okaj.. but if i install it via that link it doesn’t appear in the plugin page

[2019-04-02 06:43] tavicu commented on #50
It should, if you install it with that command :)
`sudo npm install -g --unsafe-perm git://github.com/tavicu/homebridge-samsung-tizen.git#homekit-television`

[2019-04-02 06:44] Michel8787 commented on #50
Do i have to delete the original plugin first?

[2019-04-02 06:47] tavicu commented on #50
Nope. npm will overwrite it.

[2019-04-02 06:53] Michel8787 commented on #50
/homebridge # npm install -g --unsafe-perm git://github.com/tavicu/homebridge-samsung-tizen.git#homekit-television
+ homebridge-samsung-tizen@3.0.0
updated 1 package in 2.29s
/homebridge #

And it doesn't shown up in the plugin page

[2019-04-02 15:58] MrGh0ST commented on #50
Update ?

[2019-04-03 10:48] Dean151 commented on #50
Leave the man time to update the readme and make the update perfect. He cannot allow himself 100% of his time for this project. Let the man live ;)

[2019-04-03 18:33] tavicu commented on #50
v3.0.0 released

[2019-04-03 18:47] nitaybz opened #76 "Found a bug causing homebridge to crash"
Hey...
after homebridge restart when the home app is open it always turn off the TV. i played a bit with the on off button and it created this crash:

[code]

[2019-04-03 19:10] tavicu commented on #76
Pushed a patch. can you check please?

[2019-04-03 19:37] #50 closed

[2019-04-03 20:30] tgermer opened #77 "Inputs to HDM1 and so on"
Hi,
How can I use inputs to got to HDMI1?
How can I use inputs to got to TV-Mode Channel ##?

Only my App-inputs are working.
`"inputs": [
                {
                    "name": "Netflix",
                    "type": "app",
                    "value": "11101200001"
                },
                {
                    "name": "Prime Video",
                    "type": "app",

[2019-04-03 20:42] idanyc commented on #77
try something like {"name": "PC","command": ["KEY_SOURCE", "KEY_LEFT", "KEY_ENTER"]},

[2019-04-03 20:52] tavicu commented on #77
Unfortunately there is no key to select a hdmi source.

You can find here an example of how i set my inputs.
https://github.com/tavicu/homebridge-samsung-tizen/issues/50#issuecomment-478863884

[2019-04-03 20:59] MarkBarbieri commented on #77
Try also
[code]
It is quicker, especially if you need to start moving left more than 3 times as it minimizes the delay between multiple presses.  It is the same as holding the key down for 1.5 seconds.    You can fine tune the time a little if you need to but I find it better.  Good also for volume up/down

[2019-04-03 21:11] tgermer commented on #77
Thank you.

I did it that way.

`"inputs": [
                {
                    "name": "Netflix",
                    "type": "app",
                    "value": "11101200001"
                },
                {
                    "name": "Prime Video",
                    "type": "app",
                    "value": "3201512006785"
                },
                {
                    "na

[2019-04-03 21:11] idanyc opened #78 "Inputs not added correctly"
Hi,
I'm using iOS 12.2 and the latest homebridge and homebridge-samsung-tizen (just ran npm install -g --unsafe-perm homebridge-samsung-tizen again that's right?)

I copied the inputs part from the example here in the wiki sections

but in the home up the TV input list is empty
and the inputs are added as wierd buttons with home icon  (see attachment)

any clue why?

thanks!

![image](https://user

[2019-04-03 21:35] hetkin opened #79 "[BUG] Accessories disappear after a few minutes"
Everything works fine initially, but after a few minutes all accessories disappear from homekit.

The bridge device is still visible, but all the accessories are gone in the home app. This affects ALL homebridge accessories, including unrelated ones (e.g. Lifx), not just the samsung tv. The accessories still show up in the homebridge-config web UI with insecure mode, but are not visible in the Hom

[2019-04-04 03:44] thehauntedmattress commented on #79
Same exact issue.  Right after I tried adding inputs for the iOS 12.2 way, all of my Homebridge devices disappeared.  This issue is the exact [same issue](https://github.com/merdok/homebridge-webos-tv/issues/134) that I have using [homebridge-webos-tv](https://github.com/merdok/homebridge-webos-tv) using my LG TV.

[2019-04-04 04:50] tavicu commented on #79
Can you please start homebride in debug mode?

My server is up and running without a problem!

[2019-04-04 04:51] #76 closed

[2019-04-04 04:53] thehauntedmattress commented on #79
So people in the WebOS repo have said to try to delete the persist and accessories folders and then re-adding Homebridge from scratch; I am currently trying that now.  Hopefully that will solve both.  If not, I will try debug.

[2019-04-04 04:58] tavicu commented on #79
Also try to add only inputs that you are really using. Just because you can it didn’t mean you should ;p

For every input it will be made a request to tv. 10 inputs as app, 10 requests to tv in the same second. And Samsung API its not very powerful!

[2019-04-04 04:59] thehauntedmattress commented on #79
I had only added two inputs; in fact I only added the example from your Readme just as a test as I was anticipating this happening.

[2019-04-04 05:01] tavicu commented on #77
There is no limit. But i don’t recommend adding a lot of inputs with the type `app` because for every input a request to tv will be made.

[2019-04-04 05:05] tavicu commented on #79
Try removing the cachedaccessories. I don’t recommend removing persist folder because you will have to add the bridge and all accessories again!

[2019-04-04 05:07] thehauntedmattress commented on #79
I literally just finished adding everything after deleting all of those things.

[2019-04-04 06:25] thehauntedmattress commented on #79
Also my next question to you (and I might open this as another issue) is what command do you send or how do you tell the TV to turn off?  Since the switch has been changed to the iOS 12.2 way, I can no longer use [Homebridge Alexa](https://github.com/NorthernMan54/homebridge-alexa#readme) or [Homebridge Config UI X](https://github.com/oznu/homebridge-config-ui-x#readme) to turn on my TV.

[2019-04-04 06:34] tavicu commented on #79
Nothing changed for turning on or off the tv. For turning ON it's used WoL and for OFF is sending the `KEY_POWER` command to TV.

Maybe those plugins are not yet compatible with Television Service.

[2019-04-04 06:35] tavicu commented on #78
Sometimes it takes longer or a few restarts to show the inputs in correct way.

[2019-04-04 06:49] thehauntedmattress commented on #79
Is it possible to use an SSH command to turn the TV off?

[2019-04-04 06:50] tavicu commented on #79
Nope. Tizen has only this (almost useless) api where you can only send commands. :)

[2019-04-04 06:53] thehauntedmattress commented on #79
But what I just realized is that I could make key_power a homebridge toggle to turn the TV off and then use a wake on lan ssh command to turn on the TV.  I would use these to control tv power until these other plugins get updated.  My last question is, using the current version of your plugin...is there a way to get the previous version’s on/off switch (the switch you used to use before you update

[2019-04-04 06:57] tavicu commented on #79
The only difference from v2 and v3 on the main accessory (ON/OFF) was to change the type of it from Switch to Television. Changing it back to Switch it may not give you option to add inputs, control center commands and volume control. Basically almost everything that was developed for v3 :)

If you really don't what those features you can switch back to v2.

[2019-04-04 13:38] MrGh0ST opened #80 "TV in Control Center TV Remote"
I don't have my TV in Control Center TV Remote, but in Homekit App and by Siri all works great :)

My config:
`        {
            "platform": "SamsungTizen",
            "inputs": [
                {
                    "name": "Netflix",
                    "type": "app",
                    "value": "11101200001"
                },
                {
                    "name": "Prime Video",

[2019-04-04 13:45] #78 closed

[2019-04-04 13:45] #77 closed

[2019-04-04 13:47] Maxwell70 opened #81 "Volume down/up"
Hi! Can you do volume down/up in the form of dimming?

[2019-04-04 13:48] tavicu commented on #81
Nope. HomeKit does not support this. You can control volume from Control Center.

Select the TV then the volume buttons from your device will control the TV

[2019-04-04 13:48] #81 closed

[2019-04-04 13:52] Maxwell70 commented on #81
"HomeKit does not support this." - Can be made in the form of a bulb with dimming
"Select the TV then the volume buttons from your device will control the TV" - I didn't understand. Where is it?

[2019-04-04 13:56] Maxwell70 commented on #81
"Select the TV" - This is a homekit icon from your plugin?

[2019-04-04 13:56] tavicu commented on #81
Nope. And even if i did, as i wrote in the previous comment, we don't know the current volume of tv so we can populate the bar and having a working feature.

Just search "ios remote control center" on Google and you will find a lot of examples :)

[2019-04-04 14:58] thehauntedmattress commented on #79
Just woke up after doing all of this and all homebridge devices disappeared again.

[2019-04-04 15:37] thehauntedmattress commented on #79
Accessory [Bedroom Homebridge] Registering Characteristic "On" for events +0ms
  Accessory [Bedroom Homebridge] Registering Characteristic "On" for events +0ms
  Accessory [Bedroom Homebridge] Registering Characteristic "On" for events +0ms
  Accessory [Bedroom Homebridge] Registering Characteristic "On" for events +1ms
  Accessory [Bedroom Homebridge] Registering Characteristic "On" for events +0

[2019-04-04 15:52] oigroigm opened #82 "Configure status real time"
I have not found any information to configure Update switch status in real time

[2019-04-04 16:39] thehauntedmattress commented on #79
agentRemove: [Function: onRemove],
        drain: [Function: ondrain],
        error: [Function] },
     _eventsCount: 7,
     _maxListeners: undefined,
     _writableState:
      WritableState {
        objectMode: false,
        highWaterMark: 16384,
        finalCalled: false,
        needDrain: false,
        ending: false,
        ended: false,
        finished: false,
        destroyed: fals

[2019-04-04 22:30] matteos1 opened #83 "[Question]"
**Before opening**
 - Search for duplicate or closed issues
 - Read the readme file

**What is the problem and how we can help you?**
where can i found Settings - General - External Device Manager - Device Connection Manager and set Access Notification to Off in samsung UE48JU7500?

[2019-04-05 07:16] tavicu commented on #79
Hard to follow all that log. But all i can see are logs from webOS, nothing from my plugin.

If you remove the inputs it works?

Curious that only two of you are reporting this problem.

[2019-04-05 07:17] tavicu commented on #83
Some of TV's don't have that option. It's ok :)

[2019-04-05 07:17] #83 closed

[2019-04-05 07:21] tavicu commented on #82
Status is updated every 30 seconds for both main accessory and switches.
You can change the interval but the minimum is 1 second.

The time is in ms, so 1000 it's 1 second.

Here is an example how you can update both (main and switches) every 1 second.
[code]

And here is an example how you can set individual settings
[code]

Setting one of them to false it will disable refreshing that type of acc

[2019-04-05 07:24] tavicu commented on #80
Most of the time it will work after a restart of the phone. Or just if you leave it some time.

It's showing now? Are you sure you are looking where you should?
The TV will not appear in Remote app, but in Remote from Control Center. There are two different things. Make sure you are not mistaken them :)

[2019-04-05 14:20] MrGh0ST commented on #80
Thanks for this idea, after a lot of restart it's all good.
Remote from Control Center it's allow to control only one TV ?

[2019-04-05 14:56] monsterciattolo commented on #78
I'm in the same situation.
I see input as button in apple home app but not in input menu of TV.
i'm able to control TV in remote control in iOS and manage the power on/off.

[2019-04-05 15:25] tavicu commented on #80
Right now, yes! Apple expects only one TV per bridge!

I have started working on a version where every tv will be an external accessory :)

[2019-04-05 15:26] tavicu commented on #78
So the same response apply for you too :p

A few restarts should fix the problem!

[2019-04-05 15:33] monsterciattolo commented on #78
i've restarted many times samsung TV Q8F, homebridge service and docker.
Same behivour.
i enabled the debug mode on homebridge but i don't see any errors

[2019-04-05 15:37] thehauntedmattress commented on #79
So I re-set it up with no inputs and the problem was still there.  Do you think it's possible that because I had left the token field from the previous version in the config file, that maybe it gets a bad token (since the new one saves a file with it), that maybe it just makes it disappear because of that.  I have since reverted back to 2.1.2.

[2019-04-05 15:38] monsterciattolo commented on #78
finally i restarted my iphone and apple tv 4 HD (homekit hub) and i got the input in list!

Great!

Thanks for the good job!

[2019-04-05 16:00] MrGh0ST commented on #80
Oh great idea, I hope to see it quickly :)

[2019-04-05 16:47] tavicu commented on #79
Nope. Not because of token! It’s ignored!

There ia somehow a compatibility issue with other plugin! Possible because you also have the plugin for webOS and apple allows only one tv per bridge!

Try to start anorher homebridge server only with the tv and see what happens!

[2019-04-05 16:48] thehauntedmattress commented on #79
Funny I’m literally doing that right now.

[2019-04-05 18:24] thehauntedmattress commented on #79
So I set up Homebridge on a different raspberry pi running Ubuntu Mate.  The only plugins installed are Homebridge-Samsung-Tizen, and Homebridge-config-ui-x.  I added this homebridge on a new home in the Home app on my iPhone (so that it would be separate from my actual home) and the issue is still happening.  Of course I cannot get it to happen while running Homebridge in debug mode.

[2019-04-05 18:28] tavicu commented on #79
Are you sure it's not something from your router/firewall to block it if there are many requests?

What is happening exactly? Accessories disappear from Home app? If yes, the bridge still appears?
Or you get the No response message?

Does the homebridge service still running when you find this problem?

Also try adding mdns settings to the bridge:

[code]

[2019-04-05 18:29] thehauntedmattress commented on #79
The bridge still remains.  Homebridge is still running.

[2019-04-05 18:30] tavicu commented on #79
Interesting! Try the mdns setting :)

[2019-04-05 18:44] thehauntedmattress commented on #79
Tried MDNS and it just happened again.

[2019-04-05 19:32] oigroigm commented on #82
Thanks, I tried but it seems to be not working well, it takes more than the time set to update the status in homekit, version 2.1.2 worked better

[2019-04-05 19:37] tavicu commented on #82
Tested right now and it's working at it should. With 1000 for `main` it's refreshing every second.

[code]

[2019-04-06 13:17] bodenchristian opened #84 "Plugin doesn't appear in homekit"
iOS 12.0.1 - can't update since I'm using a jailbreak

I enter the correct info for my Samsung TV and when homebridge is started, no accessory is listed for the TV

[2019-04-06 14:01] tavicu commented on #84
v3 is compatible only with iOS 12.2+

[2019-04-06 14:09] bodenchristian commented on #84
Sorry - how do I get an older version of this plugin. I have downloaded the v.2.1.2 source code and replaced the config file with this, but do I have to downgrade anything?

[2019-04-06 23:32] Moskvitch opened #85 "Are Tizen JU Models supported?"
All switches show no response (correct IP/MAC addresses double-checked)

Another developer (for Athom Homey hub) says a different approach is to be coded for this JU series because it needs encrypted tokens (not sure about this - ??)

https://github.com/balmli/com.samsung.smart

The specific TV model number is UE40JU6510

Also, I could not find that setting in the TV menu that is mentioned.

Thank

[2019-04-07 08:06] Moskvitch commented on #85
The TV does respond to the url:
{
  "id": "uuid:25958b1c-2e89-411e-b968-0ba7a62f1270",
  "name": "[TV] Master Bathroom",
  "version": "2.0.25",
  "device": {
    "type": "Samsung SmartTV",
    "duid": "uuid:25958b1c-2e89-411e-b968-0ba7a62f1270",
    "model": "15_HAWKM_UHD_2D_SC",
    "modelName": "UE40JU6510",
    "description": "Samsung DTV RCR",
    "networkType": "wired",
    "ssid": "",
    "i

[2019-04-07 08:07] Moskvitch commented on #85
If turned off, the debug mode does throw an error:

[2019-4-7 10:37:03] [Bathroom TV] [DEBUG] connect EHOSTUNREACH 192.168.1.20:8002
[2019-4-7 10:37:03] [Bathroom TV] Failed to pair! Make sure TV is online and you click "Allow" on the popup
[2019-4-7 10:37:03] [Bathroom TV] [DEBUG] PairFailedError: Failed to pair! Make sure TV is online and you click "Allow" on the popup
    at WebSocketSecure.pai

[2019-04-07 08:09] Moskvitch commented on #85
However, if the TV is turned ON while starting homebridge (in debug mode), no error message appear, yet all accessories in Homebridge display "No response"

[2019-04-07 11:39] Moskvitch commented on #85
The alpha version of the Athom Homey plugin mentioned above does work (turn off and volume up/down only at the moment) and did require a pin, which apparently is not supported by this homebridge plugin.  Weill keep waiting.  Thanks

[2019-04-07 17:23] erokoder opened #86 "Wrong choose input when alredy use some input tv."
Hello All,

I have update ios and also homebridge and node to the newest version.
So,
I have a problem when chose some of the input if is already chosen.
In Default :
Live TV -> Source Key -> Enter Key
HDMI -> Source Key -> Right key -> Enter Key.
But when I watching HDMI I can't choose input Live TV because of initial state  HDMI and I must go to Source Key and Left to Live TV.

How I can fix it?

[2019-04-07 17:25] tavicu commented on #86
Just use KEY_LEFT*1s

You can find your answer in Readme. https://github.com/tavicu/homebridge-samsung-tizen#applications

[2019-04-07 17:27] tavicu commented on #85
Hei. Yup, the plugin is not compatible with TV's that require a pin for pairing.

[2019-04-07 17:27] #85 closed

[2019-04-07 17:29] tavicu commented on #84
i think you can try like this: `sudo npm install -g --unsafe-perm homebridge-samsung-tizen@2.1.2`

You can find more informations here: https://docs.npmjs.com/cli/install

[2019-04-07 17:29] #84 closed

[2019-04-07 17:29] #82 closed

[2019-04-07 17:29] #80 closed

[2019-04-07 17:31] tavicu commented on #79
At this point i really don't know what to suggest! I have started working on the version where every TV will be an external accessory.

Until then i recommend downgrading to v2 (if it works) or check for router settings. I think the problem is not from homebridge since it's still working! I think your firewall or router blocks requests.

Try to disable background refresh option with `"refresh": fa

[2019-04-07 18:04] erokoder commented on #86
@tavicu
Don't work, I don't know, maybe I have a problem with version TV.

My Config:

`       {
        "platform": "SamsungTizen",
                "inputs": [
                        {"name": "Eon TV", "type": "command", "value": ["KEY_HOME", "KEY_LEFT*1s", "KEY_ENTER"]},
                        {"name": "Home TV", "type": "command", "value": ["KEY_SOURCE", "KEY_RIGHT*1s", "KEY_ENTER"]},

[2019-04-07 18:06] tavicu commented on #86
Look at the example. The key is to go left to the first option, then right on the hdmi.

So if you want to go on the second source for example use key_source, key_left*1s, key_right, key_enter.

https://github.com/tavicu/homebridge-samsung-tizen/issues/50#issuecomment-478863884

[2019-04-07 18:26] dpinel-solutim commented on #50
@kdschlosser : Could you please support me using these functions ? No I idea where should I put this code and how to use it. I am trying to see how to manage Art mode status when powering on / off The Frame TV. Thanks a lot !

[2019-04-07 18:35] erokoder commented on #86
@tavicu

Thanks, working excellent.
Can I choose directly HDMI1 key, not universal KEY_HDMI?
So, does it exist KEY_HDMI1 and KEY_HDMI2... key like KEY_AV1.

Also, Do you have a problem when you quickly change the condition on/off that accessories got to out of service some time. Also when somebody turn off on remote, information is slow on home app.

[2019-04-07 18:40] tavicu commented on #86
Unfortunately there are no keys to select a specific HDMI source :(

The on/off functionality has a 5 seconds wait state. So if you turn on the tv and then press turn off in the 5 seconds frame it will return an error that the TV is in powering off state and get the "No response" message because you have no other option in Homekit to display errors.

[2019-04-07 18:51] #86 closed

[2019-04-07 18:52] erokoder commented on #86
I use automation, why problematic 1s?

[2019-04-07 18:54] tavicu commented on #86
Every second will check the TV state. It's ok for main accessory but if you don't have automations based on the switches i will let them to the 30s default because they used more resources (sending a request to TV to check if app is active).

[code]

[2019-04-07 18:55] erokoder commented on #86
@tavicu  I set and working thanks.

[2019-04-08 13:01] benfysh opened #87 "[Feature] PIN for Pairing"
Just wanted to formally request the capability to support models (J & U Series) that require a PIN code during the pairing process. As mentioned in https://github.com/tavicu/homebridge-samsung-tizen/issues/85#issuecomment-480612239 this is not currently compatible.

There is another [Samsung TV Homebridge Plugin](https://github.com/kkapitan/homebridge-homesung) that does support the PIN pairing pr

[2019-04-08 21:02] kdschlosser commented on #50
my project is written in python. I am posting the information for things that i have discovered. this way @tavicu cann add additional functionality if he wants to. those code blocks I posted are the JSON structures that get sent to the TV and are what is received from the TV.

there is a little bit more involved in getting the TV to respond to the art mode commands. another websocket connection ne

[2019-04-09 07:42] phenix13 commented on #51
I also can't get APP ID with "Homebridge Tizen-apps", Do you have solved this problem?

[2019-04-09 07:55] villamann commented on #51
Hi phenix13! I was running Node.js v8.x and experienced the same problem. I made a fresh install with Node.js v10.x, and then the command "homebridge tizen-apps" in debug mode returned the app id`s.

[2019-04-10 02:57] phenix13 commented on #51
Thanks a lot , I have soled this problem in your help.

[2019-04-10 06:32] tavicu commented on #87
Thank you for your support but right now the PIN method it's not a priority for me.

I will start an Issue where we can talk and help me test it as soon as i will begin development for it :)

[2019-04-11 04:49] xtai opened #88 "[Question] iOS 12.2 TV Remote - Home Button?"
**What is the problem and how we can help you?**

Thanks for the great project!

I am curious if there is a way to add the TV home button (KEY_HOME) in the iOS remote. Currently, it only showing me 3 buttons: play/pause, back, and info.

![IMG_1600](https://user-images.githubusercontent.com/3366724/55931425-34e60a00-5bda-11e9-940f-c90146c8184a.PNG)

[2019-04-11 06:58] dpinel-solutim commented on #50
Thanks a lot for the feedback @kdschlosser ! Interesting
findings... @tavicu: Do you think it could something to be managed in
future versions? Can we help on this?

Le lun. 8 avr. 2019 à 23:02, Kevin Schlosser <notifications@github.com> a
écrit :

[2019-04-11 07:13] greensouth commented on #88
Yeah, would be interesting, instead of reassigning buttons for navigation (can't show channel list with so few options)

[2019-04-11 07:39] apexad commented on #88
@tavicu Even if we cannot add buttons to this remote (which I suspect may be the case), perhaps you could make them customizable? I for one would make the 'I' (info) button into KEY_HDMI

[2019-04-11 07:41] apexad commented on #79
I've read in other places that iOS 12.2 is having issues with multiple non-apple devices in the remote app.

[2019-04-11 08:00] tavicu commented on #88
Hi. Unfortunately we cannot change the buttons that are shown. But as @apexad suggested we can make them customizable so you can map one button to a custom key.

It's on my to-do list :)

[2019-04-11 08:00] #87 closed

[2019-04-11 16:30] thehauntedmattress commented on #79
@apexad, can you link to where you've seen that please?

[2019-04-11 16:35] apexad commented on #79
https://github.com/lprhodes/homebridge-broadlink-rm/issues/484#issuecomment-478218978

This is a different plugin for broadlink-rm which is a infrared repeater device. This issue is about adding TV support to it.

[2019-04-11 17:48] steinejo opened #89 "Ambient Mode Q8 Series"
Hi, i am running your plugin on iobroker ham Adapter successfully - thanks for your effort!

I was wondering if there is a command key to switch to ambient mode functionality on q8 series TVs.

Regards

[2019-04-11 18:35] xtai commented on #88
Ah thanks guys! Looks like this is a homebridge or Apple issue. Hope they open up more options to customize TV remote.

As suggested, I cloned the repo locally and changed L15 on https://github.com/tavicu/homebridge-samsung-tizen/blob/master/lib/options/remote.js#L15 to 'KEY_HOME', and now the info button is working as home button! Yay

[2019-04-11 18:41] tavicu commented on #88
I will make the changes this week so you can change the keys mapping :)

Keep you posted

[2019-04-16 06:52] monsterciattolo commented on #88
Is it possible to add additional buttons as Apple TV?

[2019-04-19 02:56] yclai1229 opened #90 "Scenes"
Hi tavicu,

I updated the latest version of tizen 12.2.  I set a scene in the homekit.
The content is to turn off the TV and lights.  But when I originally turned off the TV, I executed this scene.  The closed TV is turned on!  Can you help me?

Thank you.

[2019-04-19 13:35] d0n4v4nb3ck3r opened #91 "[BUG] Control Center Remote not working"
The remote buttons do not work.

[2019-04-19 13:49] tavicu commented on #91
Try again. https://github.com/tavicu/homebridge-samsung-tizen#other

[2019-04-19 13:49] #91 closed

[2019-04-20 10:52] Alex7802 commented on #41
+1

[2019-04-21 08:49] tavicu commented on #89
Hei!

I am not aware of such a command :)

[2019-04-21 08:49] #89 closed

[2019-04-21 08:50] tavicu commented on #90
Hei,

Make sure you set the scene correctly! The problem you are facing has nothing to do with how the plugin works.

[2019-04-21 08:52] tavicu commented on #88
Hei,

I have pushed a new version where you can change the mapping of remote keys.
Default keys:
[code]

How config file should look to change mapping. It can also have an array as value to execute more commands:
[code]

@xtai

[2019-04-21 08:58] tavicu commented on #86
Hei @erokoder ,

Pushed a new version where the minimum interval for `main` can be set to 500ms. For switch it remains at 1000ms

[2019-04-21 13:25] ivnDeb11 commented on #79
Hi! I hace the same issue... after a few minutes, the accesories dissapear... but bridge no... I have only Samsung-tizen puglin.
Thanks

[2019-04-21 14:37] JonoHaysom commented on #88
I just updated and mapped the info button to :"home" works perfectly and will be pervasive after updates. thanks mate!

[2019-04-22 11:19] ivnDeb11 commented on #79
Hi! In case it helps, Homebridge runs on a raspberry

[2019-04-22 11:23] xtai commented on #88
Hey, @tavicu, thanks for the great work! Really appreciate it.

[2019-04-22 14:37] hetkin commented on #79
Which TV model do you have?

One other thing that may be of interest is that when I was installing the earlier 2.x version, I couldn’t get it to print the token (timeout) I had to turn on logging in my tv and connect to it directly to see it print the token, then put it in the config. Not sure if it’s related to the disappearing accessories with 3.x.

[2019-04-22 15:28] ivnDeb11 commented on #79
Hi! I have KS7000 model.

[2019-04-22 19:13] #88 closed

[2019-04-22 19:14] tavicu commented on #79
What version of node do you have?

[2019-04-22 19:51] ivnDeb11 commented on #79
I have node -v v8.16.0
Thanks!

[2019-04-25 22:44] ivnDeb11 commented on #79
Hi! I've updated node to last version: v10.15.3, and now, apparently, it works fine!
Be careful when updating the version, it fails to start home bridge...
These are the steps I have followed to correct the error.

Error: The module '/usr/lib/node_modules/homebridge/node_modules/ed25519-hap/build/Release/ed25519.node'
was compiled against a different Node.js version using
NODE_MODULE_VERSION 57. T

[2019-04-25 22:51] thehauntedmattress commented on #79
@ivnDeb11 so you think it was the version of node that was the issue?

[2019-04-26 01:43] eduspargoli opened #92 "Homebridge not starting"
I'm trying to start homebridge with a simple code, but seems there is a type error:

Eduardos-MBP:~ eduspargoli$ DEBUG=* homebridge -D
[4/25/2019, 10:31:49 PM] Loaded config.json with 0 accessories and 1 platforms.
[4/25/2019, 10:31:49 PM] ---
[4/25/2019, 10:31:49 PM] Loaded plugin: homebridge-harmonyhub
[4/25/2019, 10:31:50 PM] Registering platform 'homebridge-harmonyhub.HarmonyHub'
[4/25/2019, 1

[2019-04-26 04:10] tavicu commented on #92
Hi.

Make sure you have the latest version of Homebridge!

[2019-04-26 06:18] eduspargoli commented on #92
Thanks!

[2019-04-26 06:18] #92 closed

[2019-04-26 13:36] ivnDeb11 commented on #79
Hi @thehauntedmattress now works fine.... what's your node version?
@hetkin and your version?

Thanks!

[2019-04-26 13:37] WendelFelius opened #93 "[BUG] Can't control over cellular"
**The problem**
I'm unable to control my tv over cellular. I'm using two homekit hubs, so that can't be the problem. When connected to my home network it works just fine from the Home.app. Also, controlling the tv using Siri on my iPhone works, but not when using Siri on HomePod.

Every device is connected with the same Apple ID and same local network. Since homebridge-samsung-tizen is my only hom

[2019-04-26 14:00] hetkin commented on #79
I’ve got 10.15.3

[2019-04-26 14:57] thehauntedmattress commented on #79
@ivnDeb11 it’s 9.11.2.

[2019-04-26 15:12] ivnDeb11 commented on #79
@thehauntedmattress can you update and try?

[2019-04-26 17:16] thehauntedmattress commented on #79
Just tested it on an alternate Pi after upgrading it to 10.15.3 and it still happened.

[2019-04-26 19:06] jelvs commented on #80
Hey, do you know a way to prioritise a tv over another in the meanwhile? because I'm using another plugin for the same affect but for a an older tv using IR, but when I launch the control center it shows that one, instead of this plugin, and I would like to prioritise this one . Thanks

[2019-04-26 19:15] tavicu commented on #80
The only thing that comes to my mind is order you add it in config.json. Other than that, there is no other option.

[2019-04-26 22:24] jelvs commented on #80
Curiously I have this plugin first on my config

Best Regards,

Tiago Sousa
On 26 Apr 2019, 20:18 +0100, Octavian Ruda <notifications@github.com>, wrote:

[2019-04-27 10:57] jelvs commented on #80
you are implementing based on the KhaosT API for the external accessory ?

[2019-04-27 15:05] tavicu commented on #80
Yup! I'm not a fan ... but it's the only method right now!

[2019-04-27 18:31] tavicu commented on #93
Hi. Unfortunately the plugin has nothing to do with remote access. But i will try to help you, maybe will find a solution :)

The fail is when you try to make an action?

I had the same problem when i changed my routers to a Mesh system. If you are having multiple routers the problem may come if you have the homebridge on a router and the hub to another router.

[2019-04-27 18:44] #90 closed

[2019-04-27 19:16] tavicu commented on #79
Ok. New PR #94 with the development of external accessory!

[2019-04-28 10:51] KevinAPearson opened #95 "The requested platform 'SamsungTizen' was not registered by any plugin"
Hi, I'm a total Noobie with my first Rapberry Pi 3+
I'm doing something wrong as I get this Error: "The requested platform 'SamsungTizen' was not registered by any plugin"
Here's what I get on screen:
[2019-4-28 11:50:42] Loaded config.json with 0 accessories and 1 platforms.
[2019-4-28 11:50:42] ---
[2019-4-28 11:50:42] No plugins found. See the README for information on installing plugins.
[2019

[2019-04-28 10:58] tavicu commented on #95
Hi. Can you please post the config file again but formatting as code. You can find more info how to do it here: https://help.github.com/en/articles/creating-and-highlighting-code-blocks

[2019-04-28 11:01] tavicu commented on #95
But the error means that you dis not installed the plugin.

Follow the steps from here: https://github.com/tavicu/homebridge-samsung-tizen/blob/master/README.md#installation

[2019-04-28 11:03] KevinAPearson commented on #95
Thanks for the help
[code]

[2019-04-28 11:06] tavicu commented on #95
Follow the steps from here to install the plugin: https://github.com/tavicu/homebridge-samsung-tizen/blob/master/README.md#installation

[2019-04-28 11:08] KevinAPearson commented on #95
Hi, I've reinstalled again but still get the same error
This is what I get:
pi@raspberrypi:~ $ sudo npm install -g --unsafe-perm homebridge-samsung-tizen
+ homebridge-samsung-tizen@3.1.0
added 57 packages in 14.722s
pi@raspberrypi:~ $ homebridge
[2019-4-28 12:05:44] Loaded config.json with 0 accessories and 1 platforms.
[2019-4-28 12:05:44] ---
[2019-4-28 12:05:44] ====================
[2019-4-28

[2019-04-28 11:38] jelvs commented on #80
yhe, I've seen...  I'm still not sure if it was intended by apple, or simply a "bug" (forgotten)

[2019-04-28 12:09] tavicu commented on #95
Now you need to update your node to a newer version.

[2019-04-28 12:11] tavicu commented on #80
Intended :) it makes sense to be that way!

I have made a new branch for testing https://github.com/tavicu/homebridge-samsung-tizen/pull/94

[2019-04-28 13:05] KevinAPearson commented on #95
Thanks that sorted that problem.
Now it seems there's a problem with the config.json file:

[code]

[2019-04-28 13:21] KevinAPearson commented on #95
Ok I get it I simply missed another } at the end to close it! (Doh!)
Thanks for all you help, I really appreciate it :-)

[2019-04-28 13:42] tavicu commented on #95
Awesome :) glad i could help!

[2019-04-28 16:18] KevinAPearson commented on #95
Thanks. All was working well but now I get:
 Failed to pair! Make sure TV is online and you click "Allow" on the popup
I originally did get the pop up but now the device is not listed in the TV list and the pop up won't appear!
Still having fun though! :-)

[2019-04-28 18:09] #93 closed

[2019-04-28 18:10] WendelFelius commented on #93
I’m sorry, it has been fixed already! Thanks anyway! 👌🏻

[2019-04-29 08:54] KevinAPearson commented on #95
Just in case anyone comes across this problem:
I removed Homebridge only to discover it was still working after deleting it!
I guess I'd installed it badly in two locations (did I say I was a noobie?)
So I decided to take everything I'd learned with my first go at Rasp Pi and formatted the SD and started again. I ran everything in the correct way this time and now everything is working again. My S

[2019-04-29 08:54] #95 closed

[2019-04-29 09:25] KevinAPearson opened #96 "Choose HDMI source without cycling through"
Hi,
Is there a way to choose which HDMI source to open?
At the moment I can Key_HDMI which cycles through all the currently connected HDMI sources.
It would be handy to say Key_HDMI_2 instead.
I suppose it depends on if Tizen allows it?
I've got a UE55MU7000 Samsung TV if that helps.

[2019-04-29 09:47] tavicu commented on #96
Hi. There is no option! You can find a solution here: https://github.com/tavicu/homebridge-samsung-tizen/issues/77

[2019-04-29 09:47] #96 closed

[2019-04-29 16:01] KevinAPearson opened #97 "Combining Multiple "Platform:" into one config.json"
Hi,
I'm struggling to combine the following two bits of code into one Config.json
I' just can't get my head around it!

First Code:
[code]
Second Code:
[code]
I know the second ""platforms": [" is not needed but can't work out the correct place to add it to in the first bit of Code.

[2019-04-29 16:30] KevinAPearson commented on #97
Ok Worked it out through trial and error:
(needs a tidy of course but...)

[code]

[2019-04-29 16:30] #97 closed

[2019-04-29 16:56] MBarti opened #98 "Use the already-done JS code to add H/J-series TVs"
You've done amazing work on the plugin! However thousands of users with early-Tizen H/J series TVs are being left out.

Good news: now the JS code for H/J-series Samsung TV is ready - so it should be easy to take it and incorporate those TVs with your plugin.

Check out the Homesung plugin https://github.com/kkapitan/homebridge-homesung
(it works well, but is not updated for the new iOS 12.2 remot

[2019-05-03 10:03] tavicu commented on #98
As i told in previous issues, this will not be a priority for me and probably it will not be implemented! It's more complicate to pair an old version of TV. Plus the fact that i don't have a TV to develop and make the tests.

Plus my time is very limited and this is not a fast thing to implement. The plugin is prepared to change the method it uses to communicate with the TV but i cannot implement

[2019-05-13 08:52] #98 closed

[2019-05-13 08:52] #79 closed

[2019-05-14 18:18] JordanPatterson opened #99 "Getting App Code with no Command Line"
I am running the Homebridge Config-UI-X plugin and cant figure out how to run “homebridge Tizen-apps” to get the app code for the new Apple TV app. Is there another way to get it?

[2019-05-15 14:03] JordanPatterson commented on #99
I think maybe the more direct question is how I can sun the homebridge tizen-apps command since i am running a systemd version of homebridge.

[2019-05-15 14:06] tavicu commented on #99
Can't you stop the instance? :)

Right now i've seen there is a problem with Node 8 and how the apps are shown with `tizen-apps`. So you will need to start with debug mode also.

I will push a new version with a fix soon.

[2019-05-15 14:15] JordanPatterson commented on #99
Ok so I guess if I stop the instance I can launch homebridge with the tizen-apps parameter and the -U /var/lib/homebridge to point homebridge at my config file.

How should i structure that command?

[2019-05-15 14:18] tavicu commented on #99
The command you should run is `DEBUG=* homebridge -D tizen-apps`

[2019-05-15 17:02] JordanPatterson commented on #99
I finally got it.

Samsung TV App IDs

│ (index) │              name              │        appId        │
├─────────┼────────────────────────────────┼─────────────────────┤
│    0    │           'Netflix'            │    '11101200001'    │
│    1    │             'ESPN'             │   '3201708014618'   │
│    2    │       'Universal Guide'        │   '3201710015067'   │
│    3    │           'App

[2019-05-15 17:02] #99 closed

[2019-05-15 18:15] JordanPatterson opened #100 "The new Apple TV App[BUG]"
Ok I am back again. Now that I have the code for the new apple tv app I configured it as an input just like Netflix, YouTube, and Prime. The Apple TV app does not open when selected.

[2019-05-15 18:28] JordanPatterson opened #101 "The Frame TV Switch Control[Feature]"
Two previous issues have been opened in relation to the Samsung Frame TV.

[https://github.com/tavicu/homebridge-samsung-tizen/issues/31](url)
[https://github.com/tavicu/homebridge-samsung-tizen/issues/14](url)

I can configure a switch or input to trigger art mode and a true power off.

{"name": "Art Mode", "command": "KEY_POWER"}
{"name": "Power", "command": "KEY_POWER*3s"}

Is there anyway to c

[2019-05-15 18:50] dansturm commented on #99
I just went through this to add an "open Apple TV app" button to my homebridge TV remote but it doesn't appear to be working. The command is being sent, but the TV isn't responding. Is yours working?

[2019-05-15 18:52] JordanPatterson commented on #99
No it is not. I just created Issue #100 for that exact reason.

[2019-05-16 02:42] vhardono commented on #101
Whenever I toggle main off slider, my Frame TV will turn to Art mode and Homekit will indicate TV in "Off" state.
However after few seconds, the status will revert back to "On" in Homekit although TV still showing Art mode.
@JordanPatterson, do you experience this as well? I'm wondering if this is normal or a bug?

[2019-05-16 02:51] JordanPatterson commented on #101
Yes that is the exact behavior I experience. I made an Art Mode input that is a KEY_POWER command, that correct switches to art mode and the tv remains on.

[2019-05-17 18:15] tavicu commented on #100
From what i understand you can only have the Apple TV app if your tv is compatible with HomeKit! So why using this plugin at all? :)

And unfortunately i can't help you since i have a 2017 TV and can't install the Apple TV app.

[2019-05-17 18:16] tavicu commented on #101
I will look and try to implement a method where you can set the command for power off key so you can set it to KEY_POWER*3s to work with frame tv

[2019-05-17 18:21] JordanPatterson commented on #100
Right now Samsung has an exclusive on the Apple TV app with the other manufacturers coming later in the year. Samsung is not doing HomeKit on their TVs only airplay and the Apple TV app. Is there a log or any info I could provide to help understand why it will not launch?

[2019-05-17 18:25] JordanPatterson commented on #101
It would also be really cool to keep the power behavior as it is but create some sort of delay so on the frame TV when you hit power it doesn’t update the button/state for a few seconds so it would enter art mode and the TV would remain on.

[2019-05-17 18:57] tavicu commented on #100
It will help me if you start the homebridge in debug mode and with tizen-apps (`DEBUG=* homebridge -D tizen-apps`) and tell me what does the server responds when the apps appear. It should be an object `{...}`

Then, still on the same instance with debug mode try to switch the input to the app and check if you have anything in the console related to the plugin.

[2019-05-17 21:37] dorianeydx opened #102 "Cannot read property 'forEach' of undefined [BUG]"
I installed Homebridge and this plugin following the README

[code]

**Versions:**
 - Node.js: 10.15.3
 - Homebridge: 0.4.49
 - Plugin: 3.1.1

(I used `npm list -g` because `npm -v <package>` return the npm version)

[2019-05-17 21:56] Barloew commented on #102
I am getting the exact same error - with the exact same versions installed.

[5/17/2019, 11:54:25 PM] TypeError: Cannot read property 'forEach' of undefined
    at Accessory.createServices (/homebridge/node_modules/homebridge-samsung-tizen/lib/accessory.js:33:37)
    at new Accessory (/homebridge/node_modules/homebridge-samsung-tizen/lib/accessory.js:17:14)
    at new Device (/homebridge/node_modu

[2019-05-17 22:50] monsterciattolo commented on #102
I have the same error message after the upgrade to latest version.

[2019-05-18 06:36] #102 closed

[2019-05-18 06:36] tavicu commented on #102
Sorry for that! I have released a new version with the fix!

It was affecting users without custom switches!

[2019-05-18 07:10] Barloew commented on #102
Thanks for the ultra quick review - and fix!

[2019-05-19 08:05] codyc1515 commented on #101
I have recently purchased one of the Samsung Frame TV and noticed this issue. Someone please correct me if I am wrong in my below analysis.

This plugin infers the TVs switch state, either On or Off, based on its reachability via. TCP/IP. When the TV is in Art Mode it is actually displaying an app and thus is reachable. Thus, this way of checking TV state does not work with the Frame TV's (it will

[2019-05-19 09:07] marithpl opened #103 "[BUG] Switches changing room"
I’ve updated to 3.1.4 and i have problem with switches. Now I cannot set a room for each switch. Now all switches are assigne to one room.

[2019-05-20 07:00] tavicu commented on #103
Homebridge or other plugin from it doesn't have anything to do with switch settings! Try force closing the Home app then edit the settings of the switch!

[2019-05-20 07:04] tavicu commented on #101
I was thinking of that but unfortunately it's a no go if we want to keep the background refresh option.

Why? Because samsung api is stupid and if you make too many requests it will stop responding.

When i wrote the code for v3 first i tried to get the status by calling the websocket instead of looking if the IP is alive. After some time the TV stops responding to requests and you will have to ha

[2019-05-20 07:06] tavicu commented on #101
@JordanPatterson if you have we can test it if it will work changing it to *3s.

Edit the file `/lib/remote.js` from the plugin on line `236`

From this: `await this.api.clickKey('KEY_POWER');`
To this: `await this.api.clickKey('KEY_POWER*3s');`

And let me know if it works as intended.

[2019-05-20 07:15] marithpl commented on #103
That happend after plugin update to 3.1.4 Here is a screen recording:
https://we.tl/t-RQbPSUuoxu

Is there any command to back to 3.1.0 ?

[2019-05-20 07:25] tavicu commented on #103
This happens because now the switches are linked to the main tv instead of being an independent accessory!

Right now it will remain as it is because this is a pre-release for the next major version where each TV will work as a Bridge instead of accessory!

This change is made to allow multiple TV's on the same Homebridge instance.
HomeKit doesn't support multiple TV's on the same bridge.

If you

[2019-05-20 07:58] marithpl commented on #103
Ok, I will live with that for a while. Do you know when will publish fix for it with bridge TV?

In previous version of plugin you add delay option. Is it avaliable in 3.0 plugin? I didn't test it because I waited for homekit TV integration.
(https://github.com/tavicu/homebridge-samsung-tizen/issues/35)

[2019-05-20 08:39] tavicu commented on #103
That release will not "fix" this since it's working on the same principle. Right now there is only one main accessory and switches are linked to it.
This is because when each TV will become a Bridge you will have to add it in the Home App like you add the Homebridge. Having separated accessories means you will have to add each accessory instead of adding only the TV and then the switches will be a

[2019-05-20 11:49] runeix opened #104 "[Question]"
Is the maximum number of inputs a choice of this plugin or a base characteristic of home kit?
I can only get 6 to show up out of the 9 options that i'd like to display.

I've tried to add 3 x HDMI, Live TV then Netflix, Amazon and 3 local Australian streaming services (ABC, SBS and Stan) via their app ID.

They are configured properly, because they bump each other off the list if more than 6 and a

[2019-05-20 12:03] MarkBarbieri commented on #103
I perform a delay by using an undefined key (I just called it pause).  It causes an additional delay that would normally occur during keypresses.  I expect you could also use *1s for a timed delay.
[code]
This seems to work fine.

[2019-05-20 12:06] tavicu commented on #104
I don't know! I only use 4 :)

And just because you can, i don't recommend adding a lot of inputs because for every input as `app` type it's make a request to check the state!

[2019-05-20 21:59] backfisch88 opened #105 "Polling"
**Before opening**
 - Search for duplicate or closed issues
 - Read the readme file

**Describe the problem**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Versions (please complete the following information):**
 - iOS: [e.g. 12.0]
 - Node.js: [e.g. 10.0.0] `nod

[2019-05-20 21:59] #105 closed

[2019-05-20 22:01] backfisch88 opened #106 "Polling"
Hi!

First. Great Plugin! Love it!

Is there any way to set the polling interval smaller?
When i Switch the tv off with the normal remote there is a delay like 30 Seconds :/

Thank you!

[2019-05-21 04:21] JordanPatterson commented on #101
What folder is that file in?

[2019-05-21 06:42] tavicu commented on #106
The default interval for checking the TV status in 10 seconds.
Then there is a sleep state for the TV. When you turn it off the tv still responds and acts like it's on for 15 seconds.

So with the right timing you get a delay of ~25 seconds when turning off from remote.

The only thing you can do it's to lower the interval of checking the TV. The minimum in 500ms. But you will still have the 15 se

[2019-05-21 06:43] tavicu commented on #101
Depending where your npm install global packages.

Default it's `/usr/local/lib/node_modules/homebridge-samsung-tizen`

[2019-05-21 07:31] backfisch88 commented on #106
Thank you for answearing!

Where can i set the checking Status?

[2019-05-21 07:51] tavicu commented on #106
https://github.com/tavicu/homebridge-samsung-tizen/issues/82#issuecomment-480174668

[2019-05-21 12:52] #106 closed

[2019-05-21 12:52] #104 closed

[2019-05-21 12:52] #103 closed

[2019-05-21 12:53] backfisch88 commented on #106
Thank! It works! Great Plugin

[2019-05-22 08:06] DeutscheMark commented on #87
I second this feature.
The other plugin seems a bit dated and abandoned and most importantly does not supply the new TV Accessory that is available since iOS 12.2.
I would be very happy too if you'd add it, thanks. :)

[2019-05-22 13:02] curla92 opened #107 "[BUG] youtube id"
Youtube id doen't work. i tried to search new id but homebridge tizen-apps doen't work. i also tried to set tv to developer mode. Can you help me? thanks.

[2019-05-22 13:08] tavicu commented on #107
https://github.com/tavicu/homebridge-samsung-tizen#other

[2019-05-22 13:09] curla92 commented on #107
i tried but doesn't work.

[2019-05-22 13:12] tavicu commented on #107
Without debug i can't help you. Don't know how you installed the homebridge but you need to run it in debug mode so we can see why it's "not working".

[2019-05-22 13:17] curla92 commented on #107
i have installed homebridge on raspberry with ios app. i run in debug mode but there is not any error.

[2019-05-22 13:21] #107 closed

[2019-05-23 18:33] nestorix1343 commented on #101
The KEY_POWER*3s does power off The Frame when used in a switch. However, changing that line 236 did not work. I tried changing it to `await this.api.holdKey("KEY_POWER",3000);` and this worked.

[2019-05-24 06:18] tavicu commented on #101
Yup, my bad :D it should have been like you said!

I will think at a method and implement today!

[2019-05-24 13:19] tavicu commented on #101
I have added a feature in the following version.

If your TV is Frame it will automatically use `KEY_POWER*3s` to power it off.

Someone mentioned earlier that when the Frame TV is in frame mode there is an app that will act as active.

If that is true and if someone help me identify that app i can automatically push it to the Inputs.
So this way you will have the option to turn ON/OFF the tv from